{% assign catsArray= site.data.category_list  | json_string_to_object %}
{% assign pageArray= site.data.page_list  | json_string_to_object %}

<div id="cat_details" class="my-5 ">
    {% for catItem in site.data.categories_details %}
        <div catReference="{{ catItem[0] }}" siteFunction="catDetails" class="border border-secondary border-opacity-25 d-none card shadow bg-transparent">
            <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
                <span class="fs-6 fw-medium">Category:
                    <button siteFunction="catForActiveCatDetailsDatatable" id="{{ catItem[0] }}" type="button" class="px-3 ml-1 btn btn-sm text-danger fw-medium border-0 shadow-none position-relative">
                        {{ catItem[0] }}       
                    </button>
                </span>
                <button siteFunction="btnClose" whatToClose='div[catReference="{{ catItem[0] }}"]' type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="card-body">

                <!-- cat details table -->
                <table siteFunction="catDetailsPageTable" class="table table-hover" catReference="{{ catItem[0] }}">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th siteFunction="tableDateField">Last Update</th>
                            <th>Actions</th>
                            <th>Excerpt</th>
                            <th>Other Categories</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for pageItem in catItem[1]["pages"] %}
                                <tr
                                    siteFunction="catInfoCatTablePageRow"
                                    catReference="{{ catItem[0] }}"
                                    pageTitleReference="{{ pageItem.title }}"
                                    pagePermalinkReference="{{ pageItem.permalink }}">
                                    <td 
                                        siteFunction="catInfoCatTablePageTitle" 
                                        class="fw-normal align-self-center align-middle"
                                        title="Click here for more info about page {{ pageItem.title }}"
                                        catReference="{{ catItem[0] }}"
                                        colFunction="pageTitle">
                                        <span>{{ pageItem.title }}</span>
                                    </td>

                                    <td 
                                        siteFunction="tableDateField" 
                                        class="fw-normal align-self-center align-middle"
                                        catReference="{{ catItem[0] }}"
                                        colFunction="pageLastUpdate">
                                        <span>{{ pageItem.lastUpdate }}</span>
                                    </td>

                                    <td 
                                        class="fw-normal align-self-center align-middle"
                                        catReference="{{ catItem[0] }}"
                                        colFunction="pageActions">
                                        <div class="btn-group">
                                            <a 
                                                siteFunction="catPageItemLinkToDoc" 
                                                class="btn btn-sm btn-info" 
                                                href="{{ pageItem.permalink }}"
                                                title="Read page {{ pageItem.title }}"
                                                catForCatTableDetailsReference="{{ catItem[0] }}"
                                                target=_blank>
                                                <i class="bi bi-book" style="font-size:1.2rem"></i>
                                            </a>

                                            <button 
                                                siteFunction="catPageItemSaveForLaterRead" 
                                                pageRefPermalink = "{{ pageItem.permalink }}" 
                                                pageRefTitle="{{ pageItem.title }}" 
                                                class="btn btn-sm btn-success"
                                                title="Save page {{ pageItem.title }} for later read"
                                                catForCatTableDetailsReference="{{ catItem[0] }}">
                                                <i class="bi bi-bookmark-plus" style="font-size:1.2rem"></i>
                                            </button>

                                            <button 
                                                siteFunction="catPageItemRemoveFromSavedItems" 
                                                pageRefPermalink = "{{ pageItem.permalink }}" 
                                                pageRefTitle="{{ pageItem.title }}" 
                                                class="btn btn-sm btn-warning"
                                                title="Remove page {{ pageItem.title }} from saved documents"
                                                catForCatTableDetailsReference="{{ catItem[0] }}">
                                                <i class="bi bi-bookmark-x" style="font-size:1.2rem"></i>
                                            </button>
                                        
                                        </div>
                                    </td>

                                    <td 
                                        class="fw-normal align-self-center align-middle"
                                        catReference="{{ catItem[0] }}"
                                        colFunction="pageExcerpt">
                                        <span>
                                            {% capture permalink_param %}
                                                {
                                                    "permalink": "{{pageItem.permalink | escape}}"
                                                }
                                            {% endcapture %}
                                            {% PageExcerpt {{ permalink_param | json_string_to_object }} %}
                                        </span>
                                    </td>
                                    
                                    <td 
                                        class="fw-normal align-self-center align-middle"
                                        catReference="{{ catItem[0] }}"
                                        colFunction="catInfoCatTablePageOtherCatss"
                                        pageTitleReference="{{ pageItem.title }}"
                                        pagePermalinkReference="{{ pageItem.permalink }}">
                                        <span>
                                            {% capture permalink_param %}
                                                {
                                                    "permalink": "{{pageItem.permalink | escape}}",
                                                    "except": ["{{ catItem[0] }}"]
                                                }
                                            {% endcapture %}

                                            {% capture pageCats %}
                                                {% PageCats {{ permalink_param | json_string_to_object }} %}
                                            {% endcapture %}
                                            {% assign pageCatsArray = pageCats | json_string_to_object  %}
                                            {% for pageCat in pageCatsArray %}
                                                <button 
                                                    siteFunction="pageCatButton"
                                                    catType="siteCat"
                                                    catReference="{{ pageCat }}" 
                                                    id="pageCat_{{ pageCat }}" 
                                                    type="button" 
                                                    class="align-self-center text-nowrap focus-ring focus-ring-warning px-2 mr-1 my-1 btn btn-sm text-danger fw-medium border-0 shadow-none position-relative"
                                                    title = "Details for category {{ pageCat }}">
                                                    {{ pageCat }}
                                                </button>
                                            {% endfor %}
                                        </span>
                                    </td>

                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
                                
            </div>
        </div>
    {% endfor %}
</div>




    