<!-- Category search -->
{% assign catArray= site.data.category_list  | json_string_to_object %}
<div id="category_search_container" class="mb-5">
    <div class="border border-secondary border-opacity-25 card shadow bg-transparent">
        <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
            <span class="fs-6 fw-medium">Search category</span>
        </div>
        <div class="card-body d-flex justify-content-between">
            <input type="text" autocomplete="off" class="form-control" id="catSearchInput" placeholder="type, select, hit enter ...">
            <ul siteFunction="searchCatList" id="catSearchResults">
                {% for catItem in catArray %}
                    <li siteFunction="searchCatListItem">{{catItem}}</li>
                {% endfor %}
            </ul>
            <button 
                siteFunction="openCatCloud" 
                id="openCatCloud" 
                type="button" 
                class="btn btn-sm btn-success"
                title= "Open Categories List">
                Categories
            </button>
        </div>
    </div>
</div>