@import 'custom-vars.scss';

$containerMargin: $m-10px $m-auto;
$containerMaxWidth: $sz-600px;
$containerTextAlign: $tal-h-center;

$page404Elements: (
    container: '.container',
);

@import 'meta.scss';
@include page404($page404Elements);