@import 'custom-vars.scss';

$hitMarkerColor: $c-primary-theme-dark;
$hitDetailsContainerBackground: $c-inherit;
$hitDetailsContainerPosition: $pos-fixed;
$hitDetailsContainerLeft: $s-20px;
$hitDetailsContainerBorderRadius: $b-rad-inherit;
$hitDetailsContainerBoxShadow: $sh-inherit;
$hitDetailsContainerBorderZIndex: $z-999;
$docSearchBtnZIndex: $z-max + 1;
$docSearchBtnOutline: $outl-none;
$docSearchModalOutline: $outl-none;
$docSeachFontSmallFontSize: $fs-0-75;

$algoliaElements: (
    hitMarker: '.algolia-docsearch-suggestion--highlight',
    hitDetailsContainer:'div[siteFunction="docSearchListItemDetails"]',
    docSearchBtn: '.DocSearch',
    docSearchModal: '.DocSearch-Modal',
    docSeachFontSmall: '.docSeachFontSmall'
);

@import 'meta.scss';
@include algolia($algoliaElements);

