@import 'custom-vars.scss';
// TAGS PAGE SETTINGS

// tags search
$catSearchWidth: $sz-300px;
$catSearchInputPadding: $p-10px;
$catSearchBackground: $c-white;
$catSearchTextColor: $c-black;
$catSearchBorders: $b-SolThinNeutral;
$catSearchResultsZIndex: $z-max;
$catSearchResultsMarginTop: $s-neg-5px;
$catSearchResultsMaxHeight:$sz-200px;
$catSearchResultsPosition: $pos-absolute;
$catSearchResultsPadding: $p-0px;
$catSearchResultsMargin: $m-0px;
$catSearchResultsListStyle: $lstyle-none;
$catSearchResultsOverflow: $ov-auto;
$catSearchResultsDefaultDisplay: $d-hidden;
$catSearchResultsBorderBottomRadius: $brad-5px;
$catSearchResultsItemPadding: $p-10px;
$catSearchResultsItemMargin: $m-0px;
$catSearchResultsItemCursor: $cr-pointer;
$catSearchResultsItemMarkedBackground: $c-light-grey;

$catSearchResultsOverflowY: $ov-auto;
$catCloudShowButtonWidth: $sz-6rem;

$catSearchElements: (
    searchInput: '#catSearchInput', 
    searchResults: '#catSearchResults',
    showCatCloudButton: 'button[siteFunction="openCatCloud"]'
);

// tags on page
$badgeTopPosition: $pos-top-neg-5px;
$badgeLeftPositions: $pos-left-neg-25px;

$catOnPageElements: (
    badge: 'span[siteFunction="catBadgeOnPage"]'
);

@import 'meta.scss';
@include catSearch($catSearchElements);
@include catsOnPage($catOnPageElements);

  