@import 'custom-vars.scss';
// CONTENT AREA SETTINGS
$contentAreaWidth: $sz-70p !default;
$contentAreaMaxWidth: $sz-full !default;
$contentAreaMarginLeft: $sideBarFixedWidth !default;
$contentAreaPaddingLeft: $p-10p;
$contentAreaPaddingRight: $contentAreaPaddingLeft;

$contentAreaMarginLeft_phone: $gen-inherit;
$contentAreaMaxWidth_phone: $gen-inherit;
$contentAreaMarginLeft_tablet: $contentAreaMarginLeft_phone;
$contentAreaMaxWidth_tablet: $contentAreaMaxWidth_phone;

@import 'meta.scss';

// STYLE CONTENT AREA
$content: '.main';
@include contentArea($content);

