// define the custom vars to be used instead of theme defaults
// colors
$c-neutral: #eaeaea;
$c-black: #000;
$c-close-to-black: #00000033;
$c-bright-black: #0d1117;
$c-heavy-dark: #010409;
$c-transparent: #00000000;
$c-purple:#4e26af;
$c-primary-theme-light: #6043D0;
$c-primary-theme-dark: #2951BB;
$c-grey:#44434d;
$c-dark-grey: #333;
$c-grey-alt: #cccccc49;
$c-grey-alt-1: #c0c0c0;
$c-grey-alt-2: #f9f9f9;
$c-grey-alt-3: #dcdcdc;
$c-white: #fff;
$c-light-grey: #f0f0f0;
$c-error-message: #dc3545;
$c-not-set: initial;
$c-metal-grey: #f5f6fa;

// typography
$siteFontFamily: 'poppins';
$textColor: $c-black;
$siteTitleFontWeight: 600;
$f-light:300;
$f-thin:400;
$f-medium:500;
$f-semiBold: 600;
$fs-body:15px;
$fs-small: 14px;
$fs-btn-sm: 0.875rem;
$fs-0-75: 0.75rem;
$fs-0-60: 0.6rem;

$siteHeaderBackground: $c-heavy-dark; // HERE TO CHANGE SITE HEADER COLOR (ABOVE SIDE-BAR, ABOVE CONTENT, ETC.)
$siteHeaderTextColor: $c-white; // HERE TO CHANGE SITE HEADER TEXT COLOR (ABOVE SIDE-BAR, ABOVE CONTENT, ETC.)

// spaces
$s-0: 0;
$s-20px: 20px;
$s-8px: 8px;
$s-10px: 10px;
$s-30px: 30px;
$s-50px: 50px;
$s-0px:0px;
$s-2px:2px;
$s-4px: 4px;
$s-5px:5px;
$s-1rem:1rem;
$s-1-5rem:1.5rem;
$s-2rem:2rem;
$s-2-5rem:2.5rem;
$s-neg-1px:-1px;
$s-neg-5px:-5px;
$s-neg-25px: -25px;

// sizes, widths, heights
$sz-full: 100%;
$sz-70p: 70%;
$sz-80p: 80%;
$sz-20p: 20%;
$sz-18p: 18%;
$sz-10p: 10%;
$sz-15p: 15%;
$sz-40p: 40%;
$sz-50p: 50%;
$sz-25px: 25px;
$sz-h-65p: 65%;
$sz-h-60p: 60%;
$sz-30px: 30px;
$sz-12px: 12px;
$sz-35px: 35px;
$sz-200px: 200px;
$sz-250px: 250px;
$sz-300px: 300px;
$sz-400px: 400px;
$sz-6rem: 6rem;
$sz-8rem: 8rem;
$sz-12rem: 12rem;
$sz-content: fit-content;
$sz-0-25: 0.25rem;
$sz-0-5: 0.5rem;
$sz-0: 0;
$sz-160: 160px;

// line heights
$lh-1-5: 1.5;

// paddings
$p-4px: $s-4px;
$p-5px:$s-5px;
$p-8px: $s-8px;
$p-10px: $s-10px;
$p-20px: $s-20px;
$p-50px:$s-50px;
$p-0px:$s-0px;
$p-1rem:$s-1rem;
$p-2px:$s-2px;
$p-0-25: $sz-0-25;
$p-0-5: $sz-0-5;
$p-0: $s-0;
$p-12px: $sz-12px;
$p-12rem: $sz-12rem;
$p-10p: $sz-10p;

// margins
$m-0px:$s-0px;
$m-10px: $s-10px;
$m-20px: $s-20px;
$m-top0px: $s-0px;
$m-corr-1px: $s-neg-1px;
$m-50px: $s-50px;
$m-1-5rem: $s-1-5rem;
$m-2rem: $s-2rem;
$m-2-5rem: $s-2-5rem;

// borders
$b-thin: 1px;
$b-2px: 2px;
$b-solid: solid;
$b-dot: dotted;
$b-DotThinNeutral: $b-thin $b-dot $c-neutral;
$b-SolThinNeutral: $b-thin $b-solid $c-neutral;
$b-Sol2pxBlack: $b-2px $b-solid $c-black;
$b-Sol2pxWhite: $b-2px $b-solid $c-white;
$b-SolThinGrey: $b-thin $b-solid $c-grey;
$b-none:none;
$b-selected-text-context-menu: $b-thin $b-solid $c-grey-alt-3;

// border radius
$brad-10px: 10px;
$brad-4px: 4px;
$brad-5px: 5px;
$brad-50p: 50%;
$brad-0px: 0px;
$b-rad-0-2: 0.2rem;

// content area config
$contentAreaWidth: $sz-70p;

// sidebar config
$sideBarFixedWidth: $sz-20p;
$sideBarMinWidth:$sideBarFixedWidth;
$contentAreaLeftMargin: $sideBarFixedWidth;
$siteHeaderPaddingLeft: $p-50px;
$siteHeaderPaddingRight: $siteHeaderPaddingLeft;
$siteTitlePaddingLeft: $p-1rem; //because of the logo

// decorations
$dec-none: none;
$dec-underline: underline;

// positions
$pos-fixed: fixed;
$pos-sticky: sticky;
$pos-absolute: absolute;
$pos-top-neg-5px: $s-neg-5px;
$pos-left-neg-25px: $s-neg-25px;

// cursors
$cr-pointer: pointer;

// display
$d-hidden: none;
$d-block: block;

// z-index
$z-max: 999;
$z-1:1;
$z-9:9;
$z-999:999;

//element alignment
$al-h-left: flex-end;
$al-v-center: center;
$al-v-baseline: baseline;

//text alignment
$tal-h-left: left;
$tal-h-center: center;

// lists
$lstyle-none: none;

// overflows
$ov-auto: auto;
$ov-none: hidden;

// shadows
$sh-none: none;

// container fill
$fl-all-available-space: auto; //this is flex:auto

// list styles
$ls-none: none;

// text wrapping
$wr-no: nowrap;

// Bootstrap extesions
.px-6 {
    padding-left: $s-2-5rem !important;
    padding-right: $s-2-5rem !important;
}

.py-6 {
    padding-top: $s-2-5rem !important;
    padding-bottom: $s-2-5rem !important;
}

.p-6 {
    padding-top: $s-2-5rem !important;
    padding-bottom: $s-2-5rem !important;
    padding-left: $s-2-5rem !important;
    padding-right: $s-2-5rem !important;
}