@import './custom-vars.scss';

$alwaysWithDefaultSiteFontElements: ('body');
@each $element in $alwaysWithDefaultSiteFontElements {
    #{$element} {
        font-family: $siteFontFamily !important;
    }
}

$siteHeaderElements: ('.site-header', '.site-header a', '.site-title', '.search', '.aux-nav', '.main-header');
@each $element in $siteHeaderElements {
    #{$element}, #{$element}:hover {
        background: $siteHeaderBackground;
    }
}

$fullWidthElements: ('.site-header', '.search', '.site-footer', '#site-nav');
@each $element in $fullWidthElements {
    #{$element} {
        width:$fullWidth;
        max-width:$fullWidth;
    }
}

$weight600Elements: ('.site-header a');
@each $element in $weight600Elements {
    #{$element} {
        font-weight:$siteTitleFontWeight;
    }
}

$alwaysWhiteTextElements: ('.site-header a');
@each $element in $alwaysWhiteTextElements {
    #{$element}, #{$element}:hover {
        color: $siteHeaderTextColor; 
    }
}

$alwaysBlackTextElements: ('body', 'p');
@each $element in $alwaysBlackTextElements {
    #{$element} {
        color: $textColor;
    }
}

$sideBarElementsAlignedLeftElements: ('.site-header', '.site-footer', '#site-nav' );
@each $element in $sideBarElementsAlignedLeftElements {
    #{$element} {
        padding-left: $siteHeaderPaddingLeft;
    }
}

$alwaysBodyBackgroundColorElements: ('.side-bar');
@each $element in $alwaysBodyBackgroundColorElements {
    #{$element} {
        background: $sidebarBackground;
    }
}

$sideBarRightPaddingElements: ('.nav-list');
@each $element in $sideBarRightPaddingElements {
    #{$element} {
        padding-right: $siteHeaderPaddingRight;
    }
}

$thinBorderTopElements: ('.site-footer');
@each $element in $thinBorderTopElements {
    #{$element} {
        @include thinBorder;
    }
}

$neverDecoratedTextElements: ('a');
@each $element in $neverDecoratedTextElements {
    #{$element}, #{$element}:hover {
        text-decoration: $noDecoration !important;
    }
}



// configure fix width left sidebar
.side-bar {
    width: $sideBarFixedWidth;
    min-width: $sideBarMinWidth;
}

.main {
    margin-left: $contentAreaLeftMargin;
    max-width: inherit;
}

.footer_first_row {
    margin-bottom:$m-10px
}

.main-content-wrap {
    width:$contentAreaWidth;
}


.site-title {
    padding-left: $siteTitlePaddingLeft
}

.aux-nav {
    padding-right: $siteHeaderPaddingLeft
}

.site_logo {
    width:25px
}

#ihs_go_to_top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    cursor:pointer;
}

.aux-nav .aux-nav-list-item {
    height: 60% !important;
    align-self: center;
}

.search {
    height: 60% !important;
    align-self: center;
    padding-left: 20px;
}

.main-header {
    margin-left:-1px; //to cover the border
}

hr {
    display:none
}