@import 'custom-vars.scss';

$editZoneBackground: $c-white;
$editZoneBorder: $b-SolThinGrey;
$documentEditorHeight: $sz-300px;
$documentEditorTopMargin: $s-neg-1px;
$documentEditorBorderRadius: $brad-0px;
$documentEditorBaloonZIndex: calc(#{$z-max} + 1000);
$documentEditorAddTagLineBorderTop: $b-SolThinNeutral;
$documentEditorAddTagLinePaddingTop: $p-8px;

$editorElements: (
    editZone: '.ck-editor__editable',
    documentEditor: '.documentEditor', // for the case when we need a full doc editor
    balloon: '.ck-balloon-panel',
    addTagLine: '.addTagLine'
);

@import 'meta.scss';
@include editor($editorElements);