@import 'custom-vars.scss';

$siteHeaderElements: ('.site-header', '.site-header a', '.site-title', '.search', '.aux-nav', '.main-header');
@each $element in $siteHeaderElements {
    #{$element}, #{$element}:hover {
        background: $siteHeaderBackground;
    }
}

#main-header {
    position:sticky;
    top:0;
    z-index:999
}

.site-title {
    padding-left: $siteTitlePaddingLeft
}

.aux-nav {
    padding-right: $siteHeaderPaddingLeft
}

.site_logo {
    width:25px
}

.aux-nav .aux-nav-list-item {
    height: 65% !important;
    align-self: center;
}

#docsearch {
    align-self: center;
}

.DocSearch-Container {
    background-color: #ffffff00 !important; // to mask the 1px white line between the search modal and the header
}

.search {
    height: 60% !important;
    align-self: center;
    padding-left: 20px;
}

.main-header {
    margin-left:-1px; //to cover the border
    justify-content: flex-end; // if algolia is active, otherwise should be removed
}