@import 'custom-vars.scss';
// HEADER ABOVE CONTENT SETTINGS
$headerBackground: $siteHeaderBackground;
$stickyElementPosition: $pos-sticky;
$stickyElementTopOffset: $m-top0px;
$stickyElementZIndex: $z-max;
$correctionMargin: $m-corr-1px; // to mask the 1px border between the content area and left sidebar
$elementsPositionInHeader: $al-h-left; // if algolia is active, otherwise should be removed
$auxContainerPaddingRight: $siteHeaderPaddingRight;
$auxItemHeightToFitInHeader: $sz-h-65p;
$auxItemVerticalAlignment: $al-v-center;
$algoliaSearchBtnVerticalAlignment: $al-v-center;
$algoliaOverlay:$c-transparent; // to mask the 1px white line between the search modal and the header
$defaultSearchHeightToFitInHeader: $sz-h-60p;
$defaultSearchVerticalAlignment: $al-v-center;
$defaultSearchPaddingLeft:$p-20px;

$themeSwitcherWidth: $sz-35px;
$themeSwitcherHeight: $themeSwitcherWidth;
$themeSwitcherVerticalAlignement: $al-v-center;
$themeSwitcherCursor: $c-pointer;
$themeSwitcherBorder:$b-SolThinNeutral;
$themeStwitcherPadding: $p-5px;
$themeSwitcherBorderRadius: $brad-50p;

@import 'meta.scss';

// STYLE HEADER ABOVE THE CONTENT
$siteHeaderElements: (
    elementsForBackground:('.site-header', '.site-header a', '.site-title', '.search', '.aux-nav', '.main-header'),
    stickyElement: '#main-header',
    auxLinksContainer: '.aux-nav',
    auxLinksItem: '.aux-nav .aux-nav-list-item',
    algoliaSearchBtn: '#docsearch',
    algoliaSearchBox: '.DocSearch-Container',
    defaultSearch: '.search', //may be not active if site search is with algolia. (de)activation in _config.yml
    themeSwitcher: '#themeSwitcher'
    
);

@include headerAboveContent($siteHeaderElements);