@import 'custom-vars.scss';

$hsFormLinkFontSize: $fs-0-75;
$hsModalContentBackground: $c-white;
$hsModalContentFontFamily: $siteFontFamily;

$hsElements: (
    formLink: '.hsFormLink',
    cookieSettingsContainer: '#hs-modal-content'
);

@import 'meta.scss';
@include hs($hsElements);