@import 'custom-vars.scss';
// PAGE TOC SETTINGS
// general
$tocFontWeight: $f-thin !default;
$tocFontColor: $c-black !default;

// container
$tocContainerPosition: $pos-sticky !default;
$tocContainerInitialView: $d-hidden !default;
$tocContainerPadding:$p-0px !default;
$tocListPadding:$p-0px !default;
$tocContainerBorderTop:$b-none !default;
$tocContainerBorderLeft:$b-none !default;
$tocContainerBorderBottom: $b-none !default;
$tocContainerBorderRight: $b-none !default;
$tocContainerBorderRadius: $brad-10px;
$tocContainerMaxHeight: $sz-content;
$tocContainerOverflowY: $ov-auto;
$tocContainerHeadingTextAlignment: $tal-h-left;
$tocContainerHeight: $sz-content;
$tocContainerWidth: $sz-18p;

// toc
$tocPadding: $tocContainerPadding !default;

// toc item
$tocNavPaddingLeft: $p-0px !default;
$tocNavNestedULPaddingLeft: $p-0px !default;
$tocNavNestedULPaddingTop: $p-0px !default;
$tocNavNestedULPaddingBottm: $p-0px !default;
$tocItemSymbolBeforeLiTagVisibility: $d-hidden !default;
$allTocItemsVisibility: $d-block; // all toc items visible, set to $d-hidden to have sub-items visible on scroll

$tocItemLinkPaddingTop: $p-0px !default;
$tocItemLinkPaddingBottom: $p-0px !default;
$tocItemLinkBorderLeftOnActive: $b-Sol2pxBlack !default;
$tocItemLinkFontSize: $fs-small;

$tocItemLinkBorderLeftOnActiveLight: $b-Sol2pxBlack !default;
$tocItemLinkBorderLeftOnActiveDark: $b-Sol2pxWhite !default;
@import 'meta.scss';

// STYLE PAGE TOC
$tocBase: 'toc';
$toc: '#'+$tocBase;
$tocItemActiveLight: '.pageTocActiveLight';
$tocItemActiveDark: '.pageTocActiveDark';
@include toc($toc);
@include tocItem($tocBase);
