// PAGE TOC SETTINGS
// general
$tocFontWeight: $f-medium !default;
$tocFontColor: $c-black !default;

// container
$tocContainerPosition: $pos-fixed !default;
$tocContainerInitialView: $d-hidden !default;
$tocContainerPadding:$p-10px !default;
$tocContainerBorderTop:$b-none !default;
$tocContainerBorderLeft:$b-none !default;
$tocContainerBorderBottom: $b-none !default;
$tocContainerBorderRight: $b-none !default;
$tocContainerBorderRadius: $brad-10px;

// toc
$tocPadding: $tocContainerPadding !default;

// toc item
$tocNavPaddingLeft: $p-0px !default;
$tocNavNestedULPaddingLeft: $p-0px !default;
$tocNavNestedULPaddingTop: $p-0px !default;
$tocNavNestedULPaddingBottm: $p-0px !default;
$tocItemSymbolBeforeLiTagVisibility: $d-hidden !default;

$tocItemLinkPaddingTop: $p-0px !default;
$tocItemLinkPaddingBottom: $p-0px !default;
$tocItemLinkBorderLeftOnActive: $b-Sol2pxBlack !default;
@import 'side-bar.scss';

// STYLE PAGE TOC
$tocBase: 'toc';
$toc: '#'+$tocBase;
@include toc($toc);
@include tocItem($tocBase);



