@import 'custom-vars.scss';
// SETTINGS FOR ELEMENTS RELATED TO PAGES

// pages search
$pageSearchWidth: $sz-300px;
$pageSearchInputPadding: $p-10px;
$pageSearchBackground: $c-white;
$pageSearchTextColor: $c-black;
$pageSearchBorders: $b-SolThinNeutral;
$pageSearchResultsZIndex: $z-max;
$pageSearchResultsMarginTop: $s-neg-5px;
$pageSearchResultsMaxHeight:$sz-200px;
$pageSearchResultsPosition: $pos-absolute;
$pageSearchResultsPadding: $p-0px;
$pageSearchResultsMargin: $m-0px;
$pageSearchResultsListStyle: $lstyle-none;
$pageSearchResultsOverflow: $ov-auto;
$pageSearchResultsDefaultDisplay: $d-hidden;
$pageSearchResultsBorderBottomRadius: $brad-5px;
$pageSearchResultsItemPadding: $p-10px;
$pageSearchResultsItemMargin: $m-0px;
$pageSearchResultsItemCursor: $cr-pointer;
$pageSearchResultsItemMarkedBackground: $c-light-grey;

$pageSearchResultsOverflowY: $ov-auto;
$pageCloudShowButtonWidth: $sz-6rem;

$savedDocsSectionButtonWidth: $sz-10rem;
$savedDocsSectionButtonHeight: $sz-full;

$searchDocsSectionButtonWidth: $sz-8rem;
$searchDocsSectionButtonHeight: $sz-full;

$savedDocsInfoTextFontSize: $fs-btn-sm;

$savedItemsFileDropZoneBorder: $b-DotThinLightGrey;
$savedItemsFileDropZoneDragoverBackground: $c-grey-alt;

// no selector identifier (#, .) to be used for some selectors because page search box
// may be creaded dynamic and the css selector may be in the form #<something>_pageSearchInput
// see mixin @mixin pageSearch in meta scss
$pageSearchElements: (
    searchInput: 'pageSearchInput', // see comment above
    searchResults: 'pageSearchResults', // see comment above
    searchDocsSectionButton: '.searchDocsSectionButton'
);

$pageSavedItemsElements: (
    savedDocsSectionButton: '.savedDocsSectionButton',
    savedDocsInfoText: '.savedDocsInfoText',
    savedItemsFileDropZone: '.savedItemsFileDropZone',
    savedItemsFileDropZoneDragover: '.fileDropAreaDragover'
);

@import 'meta.scss';
@include pageSearch($pageSearchElements);
@include pageSavedItems($pageSavedItemsElements);
  