@import 'custom-vars.scss';

$offcanvasWidth: $sz-50p;
$tagsCardBodyMaxHeight: $sz-200px;
$tagsCardBodyOverflowY: $ov-auto;
$customNotesButtonWidth: $sz-6rem;

$offcanvasElements: (
    container: '.offcanvas',
    body: '.offcanvas-body',
    tagsCardBody: 'div[siteFunction="offcanvasPageFullInfoPageTags"]',
    customNoteButton: '.offcanvasPageFullInfoPageGeneralCustomNoteButton'
);

@import 'meta.scss';
@include offCanvasPageFullInfo($offcanvasElements);