@import 'custom-vars.scss';

$pageInfoButtonsWidth: $sz-6rem;
$breadcrumbItemSeparatorContent: '>';
$breadcrumbVisibility_phone: $d-hidden;
$customBreadcrumbItemSeparatorContentVisibility: $d-hidden;
$customBreadcrumbItemFontSize: $fs-0-75;

$singlePageElements: (
    pageInfoButtons: 'button[sitefunction="pageShowPageFullInfo"], button[sitefunction="pageNavigateToFeedbackAndSupport"]',
    breadcrumbItem: '.breadcrumb-nav-list-item',
    breadcrumb: '.breadcrumb-nav',
    customBreadcrumbItem: '.breadcrumb-item'
);

@import 'meta.scss';
@include singlePage($singlePageElements);