@import 'custom-vars.scss';

$offcanvasWidth: $sz-50p;
$offCanvasWidth_phone: $sz-full;
$tagsCardBodyMaxHeight: $sz-200px;
$tagsCardBodyOverflowY: $ov-auto;
$customNotesButtonWidth: $sz-6rem;
$alertInfoMessagesFontSize_phone: $fs-0-75;

$bodyFontSize: $fs-0-90;

$offcanvasElements: (
    container: '.offcanvas',
    body: '.offcanvas-body',
    tagsCardBody: 'div[siteFunction="offcanvasPageFullInfoPageTags"]',
    customNoteButton: '.offcanvasPageFullInfoPageGeneralCustomNoteButton',
    alertInfoMessages: 'div[siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesLimitsAlert"], div[siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesSavePageAlert"], div[siteFunction="offcanvasPageFullInfoPageCustomCatsAlert"], div[siteFunction="offcanvasPageFullInfoPageCustomTagsAlert"]'
);

@import 'meta.scss';
@include offCanvasPageFullInfo($offcanvasElements);