@import 'custom-vars.scss';

$pageInfoButtonsWidth: $sz-6rem;
$breadcrumbItemSeparatorContent: '>';

$singlePageElements: (
    pageInfoButtons: 'button[sitefunction="pageShowPageFullInfo"], button[sitefunction="pageNavigateToFeedbackAndSupport"]',
    breadcrumbItem: '.breadcrumb-nav-list-item',
);

@import 'meta.scss';
@include singlePage($singlePageElements);