@import 'custom-vars.scss';
// SIDEBAR SETTINGS
$sidebarWidth: $sideBarFixedWidth;
$sidebarMinWidth: $sideBarMinWidth;
$sidebarPaddingToAlignElementsLeft: $siteHeaderPaddingLeft;
$sidebarPaddingRight: $siteHeaderPaddingRight;
$sidebarFooterFirstRowMarginBottom: $m-10px;
$sidebarLogoSize: $sz-25px;
$sidebarTitlePaddingLeft: $siteTitlePaddingLeft;
$sidebarFooterBorderTop:$b-SolThinGrey;
@import 'meta.scss';

// STYLE SIDEBAR
$sidebarContainer: '.side-bar';
$sidebarDocListContainer: '#site-nav';
$sidebarElements: ('.site-header', '.site-footer', '#site-nav' );
$sidebarContentList: '.nav-list';
$sidebarCustomFooter: 'footer';
$sidebarTitle: '.site-title';
$sidebarLogo: '.site_logo';
$sideBarFooter: '.site-footer';
$sideBarHeader: '.site-header';
$sideBarDocLink: '.nav-list-link';
$sideBarCategoryBtn: '.nav-category';
@include sidebar(
    $sidebarContainer,
    $sidebarDocListContainer, 
    $sidebarElements, 
    $sidebarContentList, 
    $sidebarCustomFooter, 
    $sidebarTitle, 
    $sidebarLogo, 
    $sideBarFooter,
    $sideBarHeader,
    $sideBarDocLink,
    $sideBarCategoryBtn
);
