@import 'custom-vars.scss';
// SIDEBAR SETTINGS
$sidebarWidth: $sideBarFixedWidth;
$sidebarMinWidth: $sideBarMinWidth;
$sidebarPaddingToAlignElementsLeft: $siteHeaderPaddingLeft;
$sidebarPaddingRight: $siteHeaderPaddingRight;
$sidebarFooterFirstRowMarginBottom: $m-10px;
$sidebarLogoSize: $sz-25px;
$sidebarTitlePaddingLeft: $siteTitlePaddingLeft;
$sidebarFooterBorderTop:$b-SolThinGrey;

$sideBarContainerWidth_phone: $sz-full;
$sideBarContainerMinWidth_phone: $sideBarContainerWidth_phone;

$sideBarButtonMobileBgImage: $gen-inherit;

@import 'meta.scss';

// STYLE SIDEBAR
$sidebarContainer: '.side-bar';
$sidebarDocListContainer: '#site-nav';
$sidebarElements: ('.site-header', '.site-footer', '#site-nav');
$sidebarContentList: '.nav-list';
$sidebarCustomFooter: 'footer';
$sidebarTitle: '.site-title';
$sidebarLogo: '.site_logo';
$sideBarFooter: '.site-footer';
$sideBarHeader: '.site-header';
$sideBarDocLink: '.nav-list-link';
$sideBarCategoryBtn: '.nav-category';
$sideBarButtonMobile: '.site-button:hover, .nav-list-expander:hover';
$sideBarLinkActiveBgImage: linear-gradient(-90deg, #201f23 0%, rgba(32, 31, 35, 0.8) 80%, rgba(32, 31, 35, 0) 100%);
@include sidebar(
    $sidebarContainer,
    $sidebarDocListContainer, 
    $sidebarElements, 
    $sidebarContentList, 
    $sidebarCustomFooter, 
    $sidebarTitle, 
    $sidebarLogo, 
    $sideBarFooter,
    $sideBarHeader,
    $sideBarDocLink,
    $sideBarCategoryBtn,
    $sideBarButtonMobile
);
