@import 'custom-vars.scss';

$tableBoxShadow: $sh-none;
$tableOverflowX: $ov-auto;
$tableWrapperPadding: $p-10px;
$tablePaginationFontSize: $fs-small;
$tableNothingFoundBackground: $c-transparent;
$tableNothingFoundTextColor: $c-error-message;
$tableInnerBorderColor: $c-grey-alt;
$tableFreezeColumnZIndex: $z-9;
$tableDateFieldTextAlignment: $tal-h-left;
$tableFirstColumnCursor: $cr-pointer;
$tableColvisBtnFontSize: $fs-body;

$tableElements: (
    tableWrapper: '.table-wrapper',
    paginationButtonLink: '.page-link',
    nothingFound: '.dt-empty',
    tableRow: 'td',
    firstColumn: 'td[siteFunction="tableFirstColumn"]',
    dateField: 'th[siteFunction="tableDateField"], td[siteFunction="tableDateField"]',
    colvisButton: '.buttons-columnVisibility'
);

@import 'meta.scss';
@include dataTable($tableElements);