@import 'custom-vars.scss';

$tableBoxShadow: $sh-none;
$tableOverflowX: $ov-auto;
$tableWrapperPadding: $p-10px;
$tablePaginationFontSize: $fs-small;
$tableNothingFoundBackground: $c-transparent;
$tableNothingFoundTextColor: $c-error-message;
$tableInnerBorderColor: $c-grey-alt;

$tableElements: (
    tableWrapper: '.table-wrapper',
    paginationButtonLink: '.page-link',
    nothingFound: '.dt-empty',
    tableRow: 'td'
);

@import 'meta.scss';
@include dataTable($tableElements);