@import 'custom-vars.scss';
// TAGS PAGE SETTINGS

// tags search
$tagSearchWidth: $sz-300px;
$tagSearchWidth_phone: $sz-full;
$tagSearchInputPadding: $p-10px;
$tagSearchBackground: $c-white;
$tagSearchTextColor: $c-black;
$tagSearchBorders: $b-SolThinNeutral;
$tagSearchResultsZIndex: $z-max;
$tagSearchResultsMarginTop: $m-corr-5px;
$tagSearchResultsMaxHeight:$sz-200px;
$tagSearchResultsPosition: $pos-absolute;
$tagSearchResultsPadding: $p-0px;
$tagSearchResultsMargin: $m-0px;
$tagSearchResultsListStyle: $lstyle-none;
$tagSearchResultsOverflow: $ov-auto;
$tagSearchResultsDefaultDisplay: $d-hidden;
$tagSearchResultsBorderBottomRadius: $brad-5px;
$tagSearchResultsItemPadding: $p-10px;
$tagSearchResultsItemMargin: $m-0px;
$tagSearchResultsItemCursor: $cr-pointer;
$tagSearchResultsItemMarkedBackground: $c-light-grey;
$tagSearchResultsOverflowY: $ov-auto;
$tagCloudShowButtonWidth: $sz-6rem;

$tagSearchElements: (
    searchInput: '#tagSearchInput', 
    searchResults: '#tagSearchResults',
    showTagCloudButton: 'button[siteFunction="openTagCloud"]'
);

// tags on page
$badgeTopPosition: $pos-neg-5px;
$badgeLeftPosition_phone: $pos-neg-5px;
$badgeLeftPosition_desktop: $pos-neg-25px;

$tagOnPageElements: (
    badge: 'span[siteFunction="tagBadgeOnPage"]'
);

// tag cloud
$tagCloudBodyOverflowY: $ov-auto;
$tagCloudBodyMaxHeight: $sz-200px;
$tagCloudElements: (
    tagCloudContainer: 'div[siteFunction="tagCloudContainerBody"]'
);

@import 'meta.scss';
@include tagSearch($tagSearchElements);
@include tagsOnPage($tagOnPageElements);
@include tagCloud($tagCloudElements);

  