@import 'custom-vars.scss';
// TAGS PAGE SETTINGS

// tags search
$tagSearchWidth: $sz-300px;
$tagSearchInputPadding: $p-10px;
$tagSearchBackground: $c-white;
$tagSearchTextColor: $c-black;
$tagSearchBorders: $b-SolThinNeutral;
$tagSearchResultsZIndex: $z-max;
$tagSearchResultsMarginTop: $s-neg-5px;
$tagSearchResultsMaxHeight:$sz-200px;
$tagSearchResultsPosition: $pos-absolute;
$tagSearchResultsPadding: $p-0px;
$tagSearchResultsMargin: $m-0px;
$tagSearchResultsListStyle: $lstyle-none;
$tagSearchResultsOverflow: $ov-auto;
$tagSearchResultsDefaultDisplay: $d-hidden;
$tagSearchResultsBorderBottomRadius: $brad-5px;
$tagSearchResultsItemPadding: $p-10px;
$tagSearchResultsItemMargin: $m-0px;
$tagSearchResultsItemCursor: $c-pointer;
$tagSearchResultsItemMarkedBackground: $c-light-grey;
$tagSearchResultsOverflowY: $ov-auto;

$tagSearchElements: (
    searchInput: '#tagSearchInput', 
    searchResults: '#tagSearchResults'
);

// tags on page
$badgeTopPosition: $pos-top-neg-5px;
$badgeLeftPositions: $pos-left-neg-25px;

$tagOnPageElements: (
    badge: 'span[siteFunction="tagBadgeOnPage"]'
);

@import 'meta.scss';
@include tagSearch($tagSearchElements);
@include tagsOnPage($tagOnPageElements);

  