verbose: true #not used
pyEnable: true
pyLaunch: "python3"
pyPageSummary:
  pageByPage: false
  allInOneStep: true
  allInOneStepScript: "tools_py/page-summary/summary-aio.py"
  summaryLength: 30
  model: 
    name: "t5-small"
    max_length: 35
    min_length: 10
    length_penalty: 1
    num_beams: 2
    early_stopping: true
  threadMultiplicator: 4
  tokenizer:
    prompt: "generate one sentence intepretation:"
    max_length: 256
    return_tensors: "tf"
    truncation: true
    skip_special_tokens: true
rawContentFolder: "doc-raw-contents"
preFlight: false
relatedPages:
  "relPagesNo": 3
  "scoreLimit": -0.1
  "tf_idf_weigths": #sum of weights must be 1
    "keywords": 0.3
    "tags": 0.2
    "cats": 0.2
    "content": 0.3
autoExcerpt:
  keywords: 10
  minKeywordLength: 3
tagsToRemoveOnDryRender: ["script", "style", "h1", "h2", "h3", "h4", "h5", "h6"]
