{% assign pages= site.data.page_list | json_string_to_object %}

<!-- pages stats -->
<div
    siteFunction="homeStats_pages_title"
    class="fs-6 fw-medium">
    Documents
</div>
<div siteFunction="homeStats_pages_container">
    <ul 
        siteFunction="homeStats_pages_items_list"
        class="pl-0">
            {% assign pagesNo = pages | size %}
            
            <!-- all pages -->
            <div siteFunction="homeStats_pages_allPages">
                <li 
                    siteFunction="homeStats_pages_list_item"
                    class="list-group-item d-flex align-items-center justify-content-between align-items-start py-2 px-2 my-0 bg-transparent border-top border-secondary border-opacity-25 text-secondary">
                        <div class="d-flex align-items-center">
                            Total documents:
                            <span class="ml-1 fw-medium text-primary">
                                {{pagesNo}}
                            </span>
                        </div>
                    <a 
                        href="/site-pages?showPages=1"
                        class="btn btn-sm rounded-circle {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsClass}}">
                        <i class="bi {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsIcon}}"></i>
                    </a>  
                </li>
            </div>
            
            <!-- saved pages -->
            <div siteFunction="homeStats_pages_savedPages" class="d-none">
                <li 
                    siteFunction="homeStats_pages_list_item"
                    class="list-group-item d-flex align-items-center justify-content-between align-items-start py-2 px-2 my-0 bg-transparent border-top border-secondary border-opacity-25 text-secondary">
                        <div class="d-flex align-items-center">
                            Saved documents:
                            <span 
                                class="ml-1 fw-medium text-success"
                                siteFunction="homeStats_pages_savedPages_no">
                                0
                            </span>
                        </div>
                    <a 
                        siteFunction="homeStats_pages_savedPages_BtnLink"
                        class="btn btn-sm rounded-circle {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsClass}}">
                        <i class="bi {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsIcon}}"></i>
                    </a>  
                </li>
            </div>
            

            <!-- avg reading time -->
            <div siteFunction="homeStats_pages_avgReadingTime">
                {% assign avgRT =  pages | average_reading_time %}
                <li 
                    siteFunction="homeStats_pages_list_item"
                    class="list-group-item d-flex align-items-center justify-content-between align-items-start py-2 px-2 my-0 bg-transparent border-top border-secondary border-opacity-25 text-secondary">
                        <div class="d-flex align-items-center">
                            Avg. reading time:
                            <span 
                                class="ml-1 fw-medium text-primary"
                                siteFunction="homeStats_pages_avg_reading_time">
                                {{avgRT}} min
                            </span>
                        </div>
                </li>
            </div>

            <!-- max reading time -->
            <div siteFunction="homeStats_pages_maxReadingTime">
                {% assign maxRTpage =  pages | max_reading_time %}
                <li 
                    siteFunction="homeStats_pages_list_item"
                    class="list-group-item d-flex align-items-center justify-content-between align-items-start py-2 px-2 my-0 bg-transparent border-top border-secondary border-opacity-25 text-secondary">
                        <div class="d-flex align-items-center">
                            Max. reading time:
                            <span 
                                class="ml-1 fw-medium text-primary"
                                siteFunction="homeStats_pages_max_reading_time">
                                {{maxRTpage.readingTime}} min
                            </span>
                        </div>
                    <a 
                        siteFunction="homeStats_pages_reading_time_BtnLink"
                        href="{{maxRTpage.permalink}}"
                        class="btn btn-sm rounded-circle {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsClass}}">
                        <i class="bi {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsIcon}}"></i>
                    </a>  
                </li>
            </div>
        
            <!-- min reading time -->
            <div siteFunction="homeStats_pages_minReadingTime">
                {% assign minRTpage =  pages | min_reading_time %}
                <li 
                    siteFunction="homeStats_pages_list_item"
                    class="list-group-item d-flex align-items-center justify-content-between align-items-start py-2 px-2 my-0 bg-transparent border-top border-secondary border-opacity-25 text-secondary">
                        <div class="d-flex align-items-center">
                            Min. reading time:
                            <span 
                                class="ml-1 fw-medium text-primary"
                                siteFunction="homeStats_pages_min_reading_time">
                                {{minRTpage.readingTime}} min
                            </span>
                        </div>
                    <a 
                        siteFunction="homeStats_pages_reading_time_BtnLink"
                        href="{{minRTpage.permalink}}"
                        class="btn btn-sm rounded-circle {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsClass}}">
                        <i class="bi {{site.data.pageBuildConfig["/"].sections.stats_section.buttonsIcon}}"></i>
                    </a>  
                </li>
            </div>
        
    </ul>
</div>
