<!-- Executing scripts from main.js -->
<script>
    customiseTheme({
        "permalink": "{{page.permalink}}", 
        "title": "{{page.title}}"
    });
</script>

<!-- Page Toc -->
{% include siteIncludes/partials/page-toc.html %} 

<!-- Toast is here -->
{% include siteIncludes/partials/toast.html %} 

<!-- Page Tags -->
{% include siteIncludes/partials/page-common/page-tags.html %} 

<!-- offcanvas for page full information -->
{% include siteIncludes/partials/page-full-info.html %} 

<!-- page last update -->
{% include siteIncludes/partials/page-common/page-last-update.html %} 