<!-- Executing scripts from main.js -->
<script>
    customiseTheme({
        "permalink": "{{page.permalink}}", 
        "title": "{{page.title}}"
    });
</script>


<!-- offcanvas for page full information -->
{% include siteIncludes/partials/page-full-info.html %} 

<!-- Page Tags -->
{% include siteIncludes/partials/page-common/page-tags.html %} 

<!-- page info -->
{% include siteIncludes/partials/page-common/page-info.html %}

<!-- page custom notes -->
{% include siteIncludes/partials/page-common/page-notes.html %} 

<!-- page related pages -->
{% include siteIncludes/partials/page-common/page-related-pages.html %} 

<!-- page auto summary -->
{% include siteIncludes/partials/page-common/page-auto-summary.html %} 

<!-- page feedback and support -->
{% include siteIncludes/partials/page-common/page-feedback-and-support.html %}

