<script>
  const settings = JSON.parse('{{ site.data.siteConfig }}'.replaceAll(/=>/g,':'));
  console.log(settings);
  let pageSettings = {};
  const page = "{{ page.url }}";
  pageSettings = JSON.parse('{{ site.data.pageConfig }}'.replaceAll(/=>/g,':'))[page];
  console.log(pageSettings);
</script>

<!--- HEADS UP!!!
  ALGOLIA SEARCH CONFIG IS IN _config.yml
  CHANGE IT TO THE RIGHT ONE, OTHERWISE SEARCH HITS WILL REDIRECT TO figmares.innohub.space
--->
<!--- Algolia search --->
<div id="docsearch" class="pr-3"></div>
<script type="text/javascript">
  docsearch({
    appId: '{{ site.data.siteConfig.algoliaSearch.appId }}',
    apiKey: '{{ site.data.siteConfig.algoliaSearch.apiKey }}',
    indexName: '{{ site.data.siteConfig.algoliaSearch.indexName }}',
    container: '{{ site.data.siteConfig.algoliaSearch.container }}',
    debug: {{ site.data.siteConfig.algoliaSearch.debug }},
    maxResultsPerGroup: {{ site.data.siteConfig.algoliaSearch.maxResultsPerGroup }}
  });
</script>
