{% assign algolia = site.data.algolia_integration  | json_string_to_object %}
{% if algolia.algoliaEnabled == 'true' %}
  <!-- docsearch container set in aux items -->
  <script id="algoliaSearch" type="text/javascript">
    $(document).ready(function() {
      setTimeout(()=>{
        algolia.setDocSearchBox();
      },200);
    });
  </script>
{% elsif site.search_enabled %}
  <script>
    $('#category-menu').addClass('justify-content-end');
    $('.search').css('cssText', 'width: {{ site.data.buildConfig.JTDSearch.searchBoxWidth }} !important;');
  </script>
{% endif %}