{% assign algolia = site.data.algolia_integration  | json_string_to_object %}
{% if algolia.algoliaEnabled == 'true' %}
  <!-- docsearch container set in aux items -->
  <script id="algoliaSearch" type="text/javascript">
    $(document).ready(function() {
      setTimeout(()=>{
        algolia.setDocSearchBox();
      },{{site.data.bulidConfig.algoliaSearch.searchBtnLoadTimeout}});
    });
  </script>
{% elsif site.search_enabled %}
  <script>
    if (preFlight.envInfo.device.deviceType !== 'desktop') {
      $('.search').addClass('px-5');
      $('#search-results').addClass('px-0 position-static');      
    } else {
      $('.search').css('cssText', 'width: {{ site.data.buildConfig.JTDSearch.searchBoxWidth }} !important;');
    }
    $('#search-input').attr('data-i18n','[placeholder]main_menu_jtd_search_box_placeholder');
  </script>
{% endif %}