
{% if site.data.buildConfig.algoliaSearch.enabled %}
  {% assign algolia = site.data.algolia_integration  | json_string_to_object %}
  <div id="docsearch" class="pr-3"></div>
  <script id="algoliaSearch" type="text/javascript">
    $('.search').remove();
    docsearch({
      appId: '{{ algolia.algoliaAppID }}',
      apiKey: '{{ algolia.algoliaPublicApiKey }}',
      indexName: '{{ algolia.algoliaIndex }}',
      container: '{{ site.data.buildConfig.algoliaSearch.container }}',
      debug: {{ site.data.buildConfig.algoliaSearch.debug }},
      maxResultsPerGroup: {{ site.data.buildConfig.algoliaSearch.maxResultsPerGroup }}
    });
  </script>
{% elsif site.search_enabled %}
  <script>
    $('#category-menu').addClass('justify-content-end');
    $('.search').css('cssText', 'width: {{ site.data.buildConfig.JTDSearch.searchBoxWidth }} !important;');
  </script>
{% endif %}