<script id="glob-utilities">

    const globUtils = {
        bindArgsAtEnd: (fn, boundArgs) => {
            return function (...defaultArgs) {
                return fn(...defaultArgs, ...boundArgs);
            };
        }
    };

</script>

<script id="hooks-utilities">

    const hooks = {
        targetFunctions: [],

        addAction: (whereToAdd, action, priority = 0, type = 'not_set') => {
            let hook = hooks.targetFunctions.find(item => item.func === whereToAdd);

            if (!hook) {
                hook = {
                    func: whereToAdd,
                    cb: []
                };
                hooks.targetFunctions.push(hook);
            }
            hook.cb.push({ action: action, priority: priority, type: type });
            hook.cb.sort((a, b) => a.priority - b.priority);
            hooks.wrapFunction(whereToAdd); 
        },

        addActionEX: (func, action, priority = 0, type = 'not_set') => {
            const whereToAdd = func.name;
            if (typeof window[whereToAdd] !== 'function') {
                window[whereToAdd] = func; 
            }
            hooks.addAction(whereToAdd, action, priority, type);
        },

        interceptFunction: (fn, functionName, cb = null) => {
            return function (...args) {
                const result = fn.apply(this, args);

                hooks.wrapNestedFunctions(result);

                if (cb) {
                    cb.forEach(callback => {
                        if (callback && callback.action) {
                            callback.action(functionName, result, args);
                        }
                    });
                }
                return result;
            };
        },

        wrapFunction: (functionName) => {
            const fn = window[functionName];
            if (typeof fn === "function" && !fn.__intercepted) {
                const hook = hooks.targetFunctions.find(hook => hook.func === functionName);
                const cb = hook ? hook.cb : [];
                window[functionName] = hooks.interceptFunction(fn, functionName, cb);
                window[functionName].__intercepted = true;
            }
        },

        wrapNestedFunctions: (obj) => {
            if (typeof obj === 'object') {
                for (const key in obj) {
                    if (typeof obj[key] === 'function' && !obj[key].__intercepted) {
                        hooks.wrapFunctionInObject(obj, key);
                    }
                }
            }
        },

        wrapFunctionInObject: (obj, key) => {
            const fn = obj[key];
            const functionName = key;

            if (typeof fn === 'function') {
                const hook = hooks.targetFunctions.find(hook => hook.func === functionName);
                const cb = hook ? hook.cb : [];
                obj[key] = hooks.interceptFunction(fn, functionName, cb);
                obj[key].__intercepted = true;
            }
        },

        wrapExistingFunctions: () => {
            hooks.targetFunctions.forEach(({ func }) => {
                hooks.wrapFunction(func); 
            });

            const allWrapped = hooks.targetFunctions.every(({ func }) => {
                const fn = window[func];
                return typeof fn === 'function' && fn.__intercepted;
            });

            if (!allWrapped) window.postMessage({ type: 'functionWrapNotReady' }, '*');
        },

        monitorFunctions: () => {
            const handler = {
                set(target, prop, value) {
                    if (typeof value === 'function') {
                        hooks.wrapFunction(prop);
                    }
                    target[prop] = value;
                    return true;
                }
            };

            return new Proxy(window, handler);
        },
    };

</script>

<script id="hooks-start">
    
    window.addEventListener('message', (event) => {
        if (event.data.type === 'functionWrapNotReady') {
            hooks.wrapExistingFunctions(); 
        }
    });
    
    window.postMessage({ type: 'functionWrapNotReady' }, '*');
    hooks.monitorFunctions(); 

</script>

