<script id="glob-utilities">

    const globUtils = {
        bindArgsAtEnd: (fn, boundArgs) => {
            return function (...defaultArgs) {
                return fn(...defaultArgs, ...boundArgs);
            };
        }
    };

</script>

<script id="hooks-utilities">

    const hooks = {
        targetFunctions: [],

        addAction: (whereToAdd, action, priority = 0, type = 'not_set') => {
            let hook = hooks.targetFunctions.find(item => item.func === whereToAdd);

            if (!hook) {
                hook = {
                    func: whereToAdd,
                    cb: []
                };
                hooks.targetFunctions.push(hook);
            }
            hook.cb.push({ action: action, priority: priority, type: type });
            hook.cb.sort((a, b) => a.priority - b.priority);
            hooks.wrapFunction(whereToAdd); 
        },

        addActionEX: (func, action, priority = 0, type = 'not_set') => {
            const whereToAdd = func.name;
            if (typeof window[whereToAdd] !== 'function') {
                window[whereToAdd] = func; 
            }
            hooks.addAction(whereToAdd, action, priority, type);
        },

        interceptFunction: (fn, functionName, cb = null) => {
            return function (...args) {
                const result = fn.apply(this, args);

                hooks.wrapNestedFunctions(result);

                if (cb) {
                    cb.forEach(callback => {
                        if (callback && callback.action) {
                            callback.action(functionName, result, args);
                        }
                    });
                }
                return result;
            };
        },

        wrapFunction: (functionName) => {
            const fn = window[functionName];
            if (typeof fn === "function" && !fn.__intercepted) {
                const hook = hooks.targetFunctions.find(hook => hook.func === functionName);
                const cb = hook ? hook.cb : [];
                window[functionName] = hooks.interceptFunction(fn, functionName, cb);
                window[functionName].__intercepted = true;
            }
        },

        wrapNestedFunctions: (obj) => {
            if (typeof obj === 'object') {
                for (const key in obj) {
                    if (typeof obj[key] === 'function' && !obj[key].__intercepted) {
                        hooks.wrapFunctionInObject(obj, key);
                    }
                }
            }
        },

        wrapFunctionInObject: (obj, key) => {
            const fn = obj[key];
            const functionName = key;

            if (typeof fn === 'function') {
                const hook = hooks.targetFunctions.find(hook => hook.func === functionName);
                const cb = hook ? hook.cb : [];
                obj[key] = hooks.interceptFunction(fn, functionName, cb);
                obj[key].__intercepted = true;
            }
        },

        wrapExistingFunctions: () => {
            hooks.targetFunctions.forEach(({ func }) => {
                hooks.wrapFunction(func); 
            });

            const allWrapped = hooks.targetFunctions.every(({ func }) => {
                const fn = window[func];
                return typeof fn === 'function' && fn.__intercepted;
            });

            if (!allWrapped) window.postMessage({ type: 'functionWrapNotReady' }, '*');
        },

        monitorFunctions: () => {
            const handler = {
                set(target, prop, value) {
                    if (typeof value === 'function') {
                        hooks.wrapFunction(prop);
                    }
                    target[prop] = value;
                    return true;
                }
            };

            return new Proxy(window, handler);
        },
    };

</script>

<script id="hooks-start">
    
    window.addEventListener('message', (event) => {
        if (event.data.type === 'functionWrapNotReady') {
            hooks.wrapExistingFunctions(); 
        }
    });
    
    window.postMessage({ type: 'functionWrapNotReady' }, '*');
    hooks.monitorFunctions(); 

</script>

<script id="error-interceptor">
    (function() {
        const originalConsoleError = console.error;

        console.error = function(...args) {
            nrLog(
                'error', 
                'console.error', 
                'error', 
                {
                    functionName: 'console.error',
                    result: '',
                    args: args, 
                    argsExtra: '', 
                }
            );

            originalConsoleError.apply(console, args);
        };

        const originalFetch = window.fetch;
        window.fetch = async function(...args) {
            try {
                const response = await originalFetch(...args);

                if (response.status === 401 || response.status === 403) {
                    nrLog(
                        'error',
                        'fetch 401/403 error',
                        'error',
                        {
                            functionName: 'fetch',
                            result: '',
                            args: args, 
                            argsExtra: {
                                status: response.status,
                                statusText: response.statusText,
                                url: args[0]
                            }
                        }
                    );
                } else if (response.status >= 400 && response.status < 500) {
                    nrLog(
                        'error',
                        'fetch error',
                        'error',
                        {
                            functionName: 'fetch',
                            result: '',
                            args: args, 
                            argsExtra: {
                                status: response.status,
                                statusText: response.statusText,
                                url: args[0]
                            }
                        }
                    );
                }
                return response; 
            } catch (error) {
                nrLog(
                    'error',
                    'fetch failure',
                    'error',
                    {
                        functionName: 'fetch',
                        result: '',
                        args: args,
                        argsExtra: {
                            error: error.message,
                        }
                    }
                );
                throw error; 
            }
        };

        const originalOpen = XMLHttpRequest.prototype.open;
        XMLHttpRequest.prototype.open = function(method, url, ...args) {
            this.addEventListener("readystatechange", function() {
                if (this.readyState === 4 && (this.status === 401 || this.status === 403)) {
                    nrLog(
                        'error',
                        'xhr 401/403 error',
                        'error',
                        {
                            functionName: 'XMLHttpRequest',
                            result: '',
                            args: [method, url],
                            argsExtra: {
                                status: this.status,
                                statusText: this.statusText
                            }
                        }
                    );
                } else if (this.readyState === 4 && this.status >= 400 && this.status < 500) {
                    nrLog(
                        'error',
                        'xhr error',
                        'error',
                        {
                            functionName: 'XMLHttpRequest',
                            result: '',
                            args: [method, url],
                            argsExtra: {
                                status: this.status,
                                statusText: this.statusText
                            }
                        }
                    );
                }
            });
            return originalOpen.apply(this, [method, url, ...args]);
        };

        
        const originalJQueryAjax = $.ajax;
        $.ajax = function(...args) {
            const [options] = args;
            const successHandler = options.success;
            const errorHandler = options.error;

            options.success = function(data, textStatus, jqXHR) {
                if (jqXHR.status === 401 || jqXHR.status === 403) {
                    nrLog(
                        'error',
                        'ajax success 401/403 error',
                        'error',
                        {
                            functionName: 'jQuery.ajax',
                            result: '',
                            args: args, 
                            argsExtra: {
                                status: jqXHR.status,
                                statusText: jqXHR.statusText,
                                url: options.url
                            }
                        }
                    );
                } else if (jqXHR.status >= 400 && jqXHR.status < 500) {
                    nrLog(
                        'error',
                        'ajax success 4XX error',
                        'error',
                        {
                            functionName: 'jQuery.ajax',
                            result: '',
                            args: args, 
                            argsExtra: {
                                status: jqXHR.status,
                                statusText: jqXHR.statusText,
                                url: options.url
                            }
                        }
                    );
                }
                if (successHandler) successHandler.apply(this, arguments);
            };

            options.error = function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 401 || jqXHR.status === 403) {
                    nrLog(
                        'error',
                        'ajax error 401/403 error',
                        'error',
                        {
                            functionName: 'jQuery.ajax',
                            result: '',
                            args: args,
                            argsExtra: {
                                status: jqXHR.status,
                                statusText: jqXHR.statusText,
                                url: options.url
                            }
                        }
                    );
                } else if (jqXHR.status >= 400 && jqXHR.status < 500) {
                    nrLog(
                        'error',
                        'ajax error 4XX error',
                        'error',
                        {
                            functionName: 'jQuery.ajax',
                            result: '',
                            args: args,
                            argsExtra: {
                                status: jqXHR.status,
                                statusText: jqXHR.statusText,
                                url: options.url
                            }
                        }
                    );
                }
                if (errorHandler) errorHandler.apply(this, arguments);
            };

            return originalJQueryAjax.apply(this, args);
        };
    })(); 
</script>

