<script id="init_superglobals_mainSettings">
  const settings = {{site.data.siteConfig | replace: "=>", ":" | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_pageSettings">
  {% assign allSettings = site.data.pageConfig %}
  {% assign crtPage = page.url %}
  {% assign crtPageClientSettings = allSettings[crtPage] | jsonify %}
  const pageSettings = {{crtPageClientSettings}}
</script>

<script id="init_superglobals_tagList">
  const tagList = {{site.data.tag_list | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_tagDetails">
  const tagDetails = {{site.data.tags_details | replace: "=>", ":" | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_catList">
  const catList = {{site.data.category_list | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_catDetails">
  const catDetails = {{site.data.categories_details | replace: "=>", ":" | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_pageList">
  const pageList = {{site.data.page_list | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_hs">
  const hsSettings = {{site.data.hs_integration | replace: "=>", ":" | jsonify | json_string_to_object}}
</script>

<script id="init_superglobals_algoliaClient">
  const algoliaSettings = {{site.data.algolia_client_integration | jsonify | json_string_to_object}}
</script>