<script>
  const settings = JSON.parse('{{ site.data.siteConfig }}'.replaceAll(/=>/g,':'));
  const page = "{{ page.url }}";
  const pageSettings = JSON.parse('{{ site.data.pageConfig }}'.replaceAll(/=>/g,':'))[page];
  const pageList = JSON.parse('{{ site.data.page_list }}'.replaceAll(/=>/g,':'));
  const tagList = JSON.parse('{{ site.data.tag_list }}'.replaceAll(/=>/g,':'));
  const tagDetails = JSON.parse('{{ site.data.tags_details }}'.replaceAll(/=>/g,':'));
  const catList = JSON.parse('{{ site.data.category_list }}'.replaceAll(/=>/g,':'));
</script>
