<div 
    class="offcanvas offcanvas-start" 
    data-bs-scroll="true" 
    id="offcanvasPageFullInformation"  
    data-bs-config='{"keyboard": false}' 
    data-bs-focus="false">
    
    {% include siteIncludes/partials/page-full-info/header.html %}

    <div class="offcanvas-body px-5" id="offcanvasPageFullInformationBody">
       
        <!-- general -->
        {% include siteIncludes/partials/page-full-info/general.html %} 

        <!-- tags -->
        {% include siteIncludes/partials/page-full-info/tags.html %} 
    
    </div>

</div>
