{% assign catMenu = site.data.ordered_categories | cat_main_menu %}

{% if site.data.siteConfig.catMenu %}
    {% if catMenu.catNo > 0 %}
        <ul id="category-menu" class="px-5 nav align-items-center mb-md-0 mb-4">
        {% for cat in catMenu.firstLevelMenuItems %}
        <li class="nav-item">
            {% assign rawCatUrl = "/cat-info?cat=" | append: cat %}
            {% assign sanitizedCatUrl = rawCatUrl | sanitize_url %}
            <a 
                siteFunction="menuItemLevel1" 
                class="fs-6 nav-link active" 
                aria-current="page" 
                href="{{ sanitizedCatUrl }}">
                {{cat}}
            </a>
        </li>
        {% endfor %}

        {% if catMenu.hasMoreCat %}
            <li class="nav-item">
                <div class="dropdown" id="{{site.data.siteConfig.catMenuMoreBtn}}">
                    <button
                        id="btnMenuMoreToggle"
                        siteFunction="btnMenuMoreToggle" 
                        type="button" 
                        class="btn btn-outline-secondary border border-secondary border-opacity-25 shadow-none text-light" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <span>More</span>
                        <i class="bi bi-arrow-down"></i>
                    </button>

                    <ul class="dropdown-menu" id="category-menu-more-list">
                        {% for cat in catMenu.secondLevelMenuItems %}
                            {% assign rawCatUrl = "/cat-info?cat=" | append: cat %}
                            {% assign sanitizedCatUrl = rawCatUrl | sanitize_url %}
                            <li class="px-4">
                                <a 
                                    siteFunction="menuItemLevel2" 
                                    class="px-0 dropdown-item fs-6" 
                                    href="{{ sanitizedCatUrl }}">
                                    {{cat}}
                                </a>
                            </li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/site-pages">Documents</a></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/cat-info">Categories</a></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/tag-info">Tags</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/">Home</a></li>
                    </ul>

                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <div class="dropdown" id="category-menu-more" >
                    <a siteFunction="menuItemLevel1" class="btn shadow-none dropdown-toggle fs-6 bg-transparent border-0" role="button" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="manual">
                        More
                    </a>
                    <ul class="dropdown-menu px-4" id="category-menu-more-list">
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/site-pages"><i class="bi bi-file-text"></i> Documents</a></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/cat-info">Categories</a></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/tag-info">Tags</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="px-4"><a siteFunction="menuItemLevel2" class="px-0 dropdown-item fs-6 fw-medium text-primary" href="/">Home</a></li>
                    </ul>
                </div>
            </li>
        {% endif %}

        </ul>
    {% endif %}
{% endif %}


