<!--- COMMON CODE FOR PLUGIN HTML TO BE PREPENDED --->
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Prompt:wght@400;500;600;700;800;900&family=Roboto:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<!----- MARKER FOR DYANMIC CODE ---->
<!---- MARKER FOR ENV VARIABLES ---->
<script>
const process = {
"env":{
"REACT_PLUGIN_TARGET":"figma_plugin_page_container",
"REACT_WINDOW_SIZE_W":"600",
"REACT_WINDOW_SIZE_H":"300",
"REACT_APP_APP_NAME":"React Figma Plugin Template",
"REACT_MAIN_APP_COMPONENT_TARGET":"Main_App_Root_Div",
"REACT_DEMO_COMPONENT_TARGET":"Demo_Root_Div",
"REACT_DEMO_COMPONENT_2_TARGET":"Demo_2_Root_Div",
"REACT_NAVIGATION_COMPONENT_TARGET":"nav_menu_root_div",
"REACT_CREATE_RECTANGLES":"CREATE_RECTANGLES",
"REACT_REQUEST_REDUX_INITIAL_STATE":"REQUEST_REDUX_INITIAL_STATE",
"REACT_REQUEST_PAGE_NAME":"REQUEST_PAGE_NAME",
"REACT_CLOSE_PLUGIN":"CLOSE_PLUGIN",
"REACT_REDUX_STATE":"REDUX_STATE",
"REACT_UI_RESIZED":"UI_RESIZED",
"REACT_UI_REDUX_SAVED":"UI_REDUX_SAVED",
"REACT_UI_INIT":"UI_INIT",
"REACT_NAVIGATE_MAIN":"NAVIGATE_MAIN",
"REACT_NAVIGATE_SECONDARY":"NAVIGATE_SECONDARY",
"REACT_STORE_INITIAL_STATE":"STORE_INTIAL_STATE",
"REACT_PAGE_NAME":"PAGE_NAME",
"REACT_RESIZE_PLUGIN_WINDOW":"RESIZE_PLUGIN_WINDOW"
}
}
</script>
<!---- END ENV VARIABLES ---->
<!----- END DYANMIC CODE ---->
<!--- END PREPENDED COMMON CODE FOR PLUGIN HTML FILES --->
