<!-- general -->
<div siteFunction="offcanvasPageFullInfoPageGeneralCard" class="card shadow bg-transparent mb-5">
    <div class="card-header d-flex justify-content-between">
        <span siteFunction="offcanvasPageFullInfoPageOpenGeneral" class="fs-6 fw-medium alwaysCursorPointer">General & Notes</span>
        <button siteFunction="btnClose" whatToClose='div[siteFunction="offcanvasPageFullInfoPageGeneral"]' type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div siteFunction="offcanvasPageFullInfoPageGeneral" class="card-body">
        
        <!-- title and last update -->
        <div class=" d-flex justify-content-between">
            <!-- title -->
            <div 
                siteFunction="offcanvasPageFullInfoPageGeneralTitle"
                class="mb-2">
                <span class="fw-medium">Title:</span> 
                <a 
                    siteFunction="offcanvasPageFullInfoPageGeneralDocLink" href="#">
                    DocLink
                </a>
            </div>
            <!-- last update -->
            <div 
                siteFunction="offcanvasPageFullInfoPageGeneralLastUpdate"
                class="mb-2">
                <span class="fw-medium">Last update:</span> 
                <span siteFunction="offcanvasPageFullInfoPageGeneralLastUpdateDate" class="fw-medium">docLAstUpdate</span>
            </div>
        </div>
        <hr siteFunction="offcanvasPageFullInfoPageGeneralSeparator">

        <!-- excerpt -->
        <div 
            siteFunction="offcanvasPageFullInfoPageGeneralExcerpt"
            class="mb-2"
            title="Page excerpt or generated keywords">
            <span class="fw-medium">Excerpt:</span> 
            <span 
                siteFunction="offcanvasPageFullInfoPageGeneralExcerptText">
                Excerpt
            </span>
        </div>

        <!-- auto summary -->
        <div 
            siteFunction="offcanvasPageFullInfoPageGeneralAutoSummary"
            class="mb-2"
            title="Generated summary (if feature is available)">
            <span class="fw-medium">
                Summary:
            </span> 
            <span 
                siteFunction="offcanvasPageFullInfoPageGeneralAutoSummaryText">
                Auto summary
            </span>
        </div>

        <!-- related pages -->
        <div 
            siteFunction="offcanvasPageFullInfoPageGeneralRelatedPages"
            class="my-3">
            <span 
                class="fw-medium"
                title="Related pages based on tags, categories, keywords and content">
                Related:
            </span> 
            <span 
                siteFunction="offcanvasPageFullInfoPageGeneralRelatedPagesText">
                <a href="#">page1</a>
            </span>
        </div>

        <!-- similar by content pages -->
        <div 
            siteFunction="offcanvasPageFullInfoPageGeneralSimilarPages"
            class="my-3">
            <span 
                class="fw-medium"
                title="Similar pages based on content">
                Similar:
            </span> 
            <span 
                siteFunction="offcanvasPageFullInfoPageGeneralSimilarPagesText">
                <a href="#">page1</a>
            </span>
        </div>

        <!-- custom notes -->
        <div 
            siteFunction="offcanvasPageFullInfoPageGeneralCustomNotes">
            <span class="fw-medium">Custom Notes:</span>

            <div 
                siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesLimitsAlert" 
                class="alert alert-warning mt-2" role="alert">
                Notes are limited to 50 words or 250 characters.
            </div>

            <div 
                siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesSavePageAlert" 
                class="alert alert-warning mt-2" role="alert">
                Save page in saved items to be able to add custom notes.
            </div>
            
            <div siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesContainer">

                <table 
                    siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesTable" 
                    id ="offcanvasPageFullInfoPageGeneralCustomNotesTable" 
                    class="table table-hover">
                    <thead>
                        <tr>
                            <th siteFunction="tableDateField">Date</th>
                            <th>Note</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                
                <div class="form-group">
                    <label class="fw-medium" for="offcanvasPageFullInfoPageGeneralCustomNotesEdit">Add/Update/Delete Custom Note</label>
                    <textarea class="form-control mb-2" id="offcanvasPageFullInfoPageGeneralCustomNotesEdit" rows="3"></textarea>
                    <div class = "d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <button 
                                siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesEditAdd" 
                                id="offcanvasPageFullInfoPageGeneralCustomNotesEditAdd" 
                                type="button" 
                                class="px-3 m-1 btn btn-sm btn-success position-relative offcanvasPageFullInfoPageGeneralCustomNoteButton">
                                Add      
                            </button>
                            <button 
                                siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesEditUpdate" 
                                id="offcanvasPageFullInfoPageGeneralCustomNotesEditUpdate" 
                                type="button" 
                                class="px-3 m-1 btn btn-sm btn-warning position-relative offcanvasPageFullInfoPageGeneralCustomNoteButton disabled">
                                Update      
                            </button>
                            <button 
                                siteFunction="offcanvasPageFullInfoPageGeneralCustomNotesEditDelete" 
                                id="offcanvasPageFullInfoPageGeneralCustomNotesEditDelete" 
                                type="button" 
                                class="px-3 m-1 btn btn-sm btn-danger position-relative offcanvasPageFullInfoPageGeneralCustomNoteButton disabled">
                                Delete      
                            </button>
                        </div>
                        <div class="d-flex justify-content-end">
                            <span siteFunction="offcanvasPageFullInfoPageGeneralCustomNoteWords" class="align-middle mr-2">W: 0</span>
                            <span siteFunction="offcanvasPageFullInfoPageGeneralCustomNoteChars" class="align-middle">C: 0</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="card-footer">
        <button 
            siteFunction="offcanvasPageFullInfoPageSaveToSavedItems" 
            class="btn btn-sm btn-success"
            title="Save page for later read">
            <i class="bi bi-bookmark-plus"></i>
        </button>

        <button 
            siteFunction="offcanvasPageFullInfoPageRemoveFromSavedItems" 
            class="btn btn-sm btn-warning"
            title="Remove page from saved documents">
            <i class="bi bi-bookmark-x"></i>
        </button>
    </div>
</div>
