<div class="d-flex offcanvas-header px-4 px-md-5 py-4 align-items-center border-bottom border-secondary border-opacity-25 shadow-none">
    <span 
        class="offcanvas-title fs-6 fw-medium" 
        id="offcanvasPageFullInformationTitle"
        data-18n="page_full_info_header_title">
        Doc information
    </span>
    <button 
        siteFunction="offcanvasPageFullInfoClose" 
        type="button" 
        class="btn-close" 
        data-bs-dismiss="offcanvas" 
        aria-label="Close">
    </button>
</div>