{% assign collections= site.data.filtered_collections %}
{% assign collectionsNo = collections | size %}

{% if  collectionsNo > 0 %}
    <div siteFunction="homeCollectionsContainer">
        <div class="row gx-5">
            {% for collection in collections %}
                {% assign itemsToShow = site.data.pageBuildConfig["/"].sections.collections_section.itemsToShow %}
                {% assign collectionDocs = collection.docs | slice: 0, itemsToShow %}
                {% assign collectionDocsNo = collection.docs | size %}
                {% if collectionDocsNo > 0 %}

                    <!-- {{collection.name}} -->
                    <div 
                        siteFunction="homeCollection_{{collection.name}}"
                        class="col-md-4 col-12 my-md-4 my-2">

                            <!-- collection name -->
                            <div
                                siteFunction="homeCollection_name"
                                class="fs-6 fw-medium">
                                {{collection.custom_name}}
                            </div>
                            
                            <!-- collection docs: {{collection.name}} -->
                            <div siteFunction="homeCollection_docs_container">

                                <!-- doc list: {{collection.name}} -->
                                <ul 
                                    siteFunction="homeCollection_docs" 
                                    class="pl-0">
                                    {% for doc in collectionDocs %}
                                        <a href="{{doc.permalink}}">
                                            <li 
                                                siteFunction="homeCollection_doc" 
                                                class="py-2 my-0 bg-transparent border-top border-secondary border-opacity-25">
                                                <div class="px-md-2">
                                                    <div class="text-primary">
                                                        {{doc.title}}
                                                    </div>
                                                    <div class="text-secondary pageExcerptInListItems">
                                                        {{doc.excerpt}}
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>

                                <!-- collection entry point (if any): {{collection.name}} -->
                                {% assign startDoc = collection.start %}
                                {% if startDoc != empty %}
                                    <a 
                                        siteFunction="collectionStartDocument"
                                        href="{{startDoc.permalink}}"
                                        class="btn btn-sm {{site.data.pageBuildConfig["/"].sections.collections_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.collections_section.buttonsClass}}"
                                        data-i18n="home_page_collections_section_start_here_btn">
                                        {{site.data.pageBuildConfig["/"].sections.collections_section.collectionStartBtnText}}
                                    </a>
                                {% endif %}
                            </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<script>
    home__collectionsSection();
</script>