<div class="row" siteFunction="homePageHeaderSection_row">
    <div siteFunction="homePageHeaderSection_row_col_left" class="col-6 d-flex align-items-center">
        <div>
            <p class="fs-2 fw-medium mb-4">{{site.data.pageBuildConfig["/"].sections.header_section.title}}</p>
            <div 
                siteFunction="homePageHeaderNavBtns"
                class="mb-4">
                {% if site.data.pageBuildConfig["/"].sections.collections_section.enabledInHome %}
                    <button 
                        siteFunction="homePageHeaderNavBtns_collections"
                        class="btn btn-sm btn-outline-secondary border border-secondary border-opacity-25 my-1 shadow-none">
                        Sections
                    </button>
                {% endif %}
                <button 
                    siteFunction="homePageHeaderNavBtns_recentAndPopular"
                    class="btn btn-sm btn-outline-secondary border border-secondary border-opacity-25 my-1 shadow-none">
                    Quickstart
                </button>
                <button 
                    siteFunction="homePageHeaderNavBtns_stats"
                    class="btn btn-sm btn-outline-secondary border border-secondary border-opacity-25 my-1 shadow-none">
                    Docs info
                </button>
                <button 
                    siteFunction="homePageHeaderNavBtns_support"
                    class="btn btn-sm btn-outline-secondary border border-secondary border-opacity-25 my-1 shadow-none">
                    Support
                </button>
            </div>
            <p class="fs-5 text-secondary">{{site.data.pageBuildConfig["/"].sections.header_section.text}}</p>
            <a 
                class="btn btn-success" 
                href="{{site.data.pageBuildConfig["/"].startPermalink}}">
                {{site.data.pageBuildConfig["/"].sections.header_section.startBtnText}}
            </a>
        </div>
    </div>
    <div siteFunction="homePageHeaderSection_row_col_right" class="col-6 d-flex justify-content-end">
        <div siteFunction="homePageHeaderSection_featured_media">
            {{site.data.pageBuildConfig["/"].sections.header_section.featuredMedia}}
        </div>
    </div>
</div>

<script>
    home__headerSection();
</script>