{% assign pages= site.data.page_list | json_string_to_object %}

<div siteFunction="homeRecentAndPopularContainer">
    <div class="row gx-5">

        <!-- most recent -->
        <div 
            siteFunction="homeRecentAndPopular_most_recent"
            class="col-md-4 col-12 my-md-4 my-2">
            <div
                siteFunction="homeRecentAndPopular_most_recent_title"
                class="fs-6 fw-medium"
                data-i18n="home_page_recent_and_popular_section_most_recent_col_header">
                Most recent
            </div>
            <div siteFunction="homeRecentAndPopular_most_recent_list_container">
                <ul 
                    siteFunction="homeRecentAndPopular_most_recent_list"
                    class="pl-0">
                    {% assign sortedPageList = pages | sort: 'lastUpdateUTC' %}
                    {% assign sortedPageList_desc = sortedPageList | reverse %}

                    {% assign recentFilesToShow = site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.recentFilesToShow %}
                    {% assign showPageList = sortedPageList_desc | slice: 0, recentFilesToShow %}
                    {% for page in showPageList %}
                        <a href="{{page.permalink}}">
                            <li 
                                siteFunction="homeCollection_page" 
                                class="py-2 my-0 bg-transparent border-top border-secondary border-opacity-25">
                                <div class="px-md-2">
                                    <div class="text-primary">
                                        {{page.title}}
                                    </div>
                                    <div class="text-secondary pageExcerptInListItems">
                                        {{page.excerpt}}
                                    </div>
                                    {% assign separator = site.data.siteConfig.multilang.dateFieldSeparator %}
                                    <div 
                                        class="text-secondary mt-2 fw-medium {{site.data.siteConfig.multilang.dateFieldClass}}"
                                        data-i18n="[text]formatted_date"
                                        data-original-date="{{ page.lastUpdate | date: '%d-%B-%Y' | replace: '-', separator }}"
                                        data-month-name="long">
                                        {{ page.lastUpdate | date: '%d-%B-%Y' | replace: '-', separator }}
                                    </div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
                <a 
                    href="/site-pages?showPages=1"
                    siteFunction="home_page_recent_and_popular_section_most_recent_col_go_to_docs_btn"
                    class="btn btn-sm {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsClass}}"
                    data-i18n="home_page_recent_and_popular_section_most_recent_col_go_to_docs_btn">
                    {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.allDocsBtnText}}
                </a>
            </div>
        </div>

        <!-- popular categories -->
        <div 
            siteFunction="homeRecentAndPopular_popular_categories"
            class="col-md-4 col-12 my-md-4 my-2">
            <div
                siteFunction="homeRecentAndPopular_popular_categories_title"
                class="fs-6 fw-medium"
                data-i18n="home_page_recent_and_popular_section_popular_cats_col_header">
                Popular categories
            </div>
            <div siteFunction="homeRecentAndPopular_popular_categories_container">
                <a 
                    href="/cat-info"
                    class="btn btn-sm {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsClass}}"
                    siteFunction="home_page_recent_and_popular_section_popular_cats_col_go_to_cats_btn"
                    data-i18n="home_page_recent_and_popular_section_popular_cats_col_go_to_cats_btn">
                    {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.allCatsBtnText}}
                </a>
            </div>
        </div>

        <!-- popular tags -->
        <div 
            siteFunction="homeRecentAndPopular_popular_tags"
            class="col-md-4 col-12 my-md-4 my-2">
            <div
                siteFunction="homeRecentAndPopular_popular_tags_title"
                class="fs-6 fw-medium"
                data-i18n="home_page_recent_and_popular_section_popular_tags_col_header">
                Popular tags
            </div>
            <div siteFunction="homeRecentAndPopular_popular_tags_container">
                <a 
                    href="/tag-info"
                    class="btn btn-sm {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsTextClass}} {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.buttonsClass}}"
                    siteFunction="home_page_recent_and_popular_section_popular_tags_col_go_to_tags_btn"
                    data-i18n="home_page_recent_and_popular_section_popular_tags_col_go_to_tags_btn">
                    {{site.data.pageBuildConfig["/"].sections.mostRecentAndPopular_section.allTagsBtnText}}
                </a>
            </div>
        </div>

    </div>
</div>

<script>
    home__recentAndPopularSection();
</script>