{% assign tagsArray= site.data.tag_list  | json_string_to_object %}

<div id="cloud_tag_container" class="container">         
    <div class=" card shadow bg-transparent overflow-y-auto">
        <div class="card-header d-flex justify-content-between">
            <span class="fs-6 fw-medium">Tags</span>
            <button siteFunction="btnClose" whatToClose="#cloud_tag_container" type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div siteFunction="tagCloudContainerBody" class="card-body overflow-y-auto">
            {% for tagItem in site.data.tags_details %}
                <button 
                    siteFunction="tagButton"
                    tagType="siteTag" 
                    id="{{ tagItem[0] }}" type="button" 
                    class="focus-ring focus-ring-warning px-3 mr-5 my-2 btn btn-sm btn-primary position-relative"
                    title = "Details for tag {{ tagItem[0] }}">
                    {{ tagItem[0] }}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
                        {{ tagItem[1]["numPages"] }}
                    </span>
                </button>
            {% endfor %}
        </div>
    </div>
</div>