<div 
    siteFunction="sitePagesDetailsLastFilter" 
    class="card d-none shadow-sm alert alert-warning mt-2" role="alert">

    <!-- filter warning header (title and buttons) -->
    <div 
        siteFunction="sitePagesDetailsLastFilterHeader" 
        class="d-flex align-items-center justify-content-between pb-2 border-bottom border-secondary border-opacity-25">
        <div>
            <span 
                class="spinner-grow spinner-grow-sm mr-2 text-danger" 
                aria-hidden="true">
            </span>
            <span 
                siteFunction="sitePagesDetailsLastFilterLabel" 
                class="fs-6 fw-medium text-black"
                data-i18n="dt_pages_active_filter_box_title_last_filter">
                Last filter
            </span>
        </div>
        <div>
            <button 
                siteFunction="sitePagesDetailsShowSearchPanes" 
                class="btn btn-sm btn-danger text-light"
                title="Re-activate/Modify/Clear filter">
                <div class="d-flex align-items-center">
                    <span
                        siteFunction="sitePagesDetailsShowSearchPanes_loader" 
                        class="spinner-border spinner-border-sm mr-1 d-none"
                        aria-hidden="true">
                    </span>
                    <span 
                        role="status"
                        data-i18n="dt_pages_active_filter_box_open_filter_btn_text">
                        Open
                    </span>
                </div>
            </button>
            <button 
                siteFunction="sitePagesDetailsClearFilter" 
                class="btn btn-sm btn-primary text-light"
                title="Re-activate/Modify/Clear filter">
                <div class="d-flex align-items-center">
                    <span
                        siteFunction="sitePagesDetailsClearFilter_loader" 
                        class="spinner-border spinner-border-sm mr-1 d-none"
                        aria-hidden="true">
                    </span>
                    <span 
                        role="status"
                        data-i18n="dt_pages_active_filter_box_clear_filter_btn_text">
                        Clear
                    </span>
                </div>
            </button>
            <button
                siteFunction="sitePagesDetailsShowFilter" 
                class="btn btn-sm btn-success text-light d-md-none noShow">
                <i class="bi bi-eye"></i>
            </button>
        </div>
    </div>

     <!-- filter warning details -->
    <div 
        siteFunction="sitePagesDetailsLastFilterDetails" 
        class="pt-2">

        <div 
            class="text-black"
            siteFunction="dt_pages_active_filter_details_container_label"
            data-i18n="[siteFunction]dt_pages_active_filter_details_container_label">
            <span 
                class="fw-medium text-black"
                data-i18n="dt_pages_col_details_text">
                Details
            </span>: 
            <span 
                class="text-primary" 
                siteFunction="dt_pages_active_filter_details_label"
                data-i18n="[siteFunction]dt_pages_active_filter_details_label">
            </span>
        </div>

        <div 
            class="text-black"
            siteFunction="dt_pages_active_filter_related_container_label"
            data-i18n="[siteFunction]dt_pages_active_filter_related_container_label">
            <span 
                class="fw-medium text-black"
                data-i18n="dt_pages_col_related_text">
                Related
            </span>: 
            <span 
                class="text-primary" 
                siteFunction="dt_pages_active_filter_related_label"
                data-i18n="[siteFunction]dt_pages_active_filter_related_label">
            </span>
        </div>

        <div 
            class="text-black"
            siteFunction="dt_pages_active_filter_similar_container_label"
            data-i18n="[siteFunction]dt_pages_active_filter_similar_container_label">
            <span 
                class="fw-medium text-black"
                data-i18n="dt_pages_col_similar_text">
                Similar
            </span>: 
            <span 
                class="text-primary" 
                siteFunction="dt_pages_active_filter_similar_label"
                data-i18n="[siteFunction]dt_pages_active_filter_similar_label">
            </span>
        </div>

        <div 
            class="text-black"
            siteFunction="dt_pages_active_filter_tags_container_label"
            data-i18n="[siteFunction]dt_pages_active_filter_tags_container_label">
            <span 
                class="fw-medium text-black"
                data-i18n="dt_pages_col_tags_text">
                Tags
            </span>: 
            <span 
                class="text-primary" 
                siteFunction="dt_pages_active_filter_tags_label"
                data-i18n="[siteFunction]dt_pages_active_filter_tags_label">
            </span>
        </div>

        <div 
            class="text-black"
            siteFunction="dt_pages_active_filter_cats_container_label"
            data-i18n="[siteFunction]dt_pages_active_filter_cats_container_label">
            <span 
                class="fw-medium text-black"
                data-i18n="dt_pages_col_cats_text">
                Categories
            </span>: 
            <span 
                class="text-primary" 
                siteFunction="dt_pages_active_filter_cats_label"
                data-i18n="[siteFunction]dt_pages_active_filter_cats_label">
            </span>
        </div>

    </div>

</div>