{% assign pageArray= site.data.page_list  | json_string_to_object %}

    <div id="site_pages_details" class="my-5 d-none">
        <div siteFunction="sitePagesDetails" class="border border-secondary border-opacity-25 card shadow bg-transparent">
            
            <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
                <span 
                    class="fs-6 fw-medium"
                    data-i18n="pages_docs_title_text">
                    Documents
                </span>
                <button 
                    siteFunction="btnClose" 
                    whatToClose='div[siteFunction="sitePagesDetails"]' 
                    type="button" 
                    class="btn-close" 
                    aria-label="Close">
                </button>
            </div>
    
            <div class="card-body">
    
                <!-- site pages details table -->
                <table siteFunction="sitePagesDetailsPageTable" class="table table-striped table-hover overflow-auto">
                    <thead>
                        <tr>
                            <th data-i18n="dt_pages_col_title_text">Title</th>
                            <th class="text-start" siteFunction="tableDateField" data-i18n="dt_pages_col_last_update_text">Last Update</th>
                            <th data-i18n="dt_pages_col_details_text">Details</th>
                            <th data-i18n="dt_pages_col_related_text">Related</th>
                            <th data-i18n="dt_pages_col_similar_text">Similar</th>
                            <th data-i18n="dt_pages_col_excerpt_text">Excerpt</th>
                            <th data-i18n="dt_pages_col_summary_text">Summary</th>
                            <th data-i18n="dt_pages_col_tags_text">Tags</th>
                            <th data-i18n="dt_pages_col_cats_text">Categories</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pageArray %}
                            <!-- page row in pages table -->
                            <tr
                                siteFunction="sitePagesDetailsTablePageRow"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}">
    
                                <!-- page title -->
                                <td 
                                    siteFunction="sitePagesTablePageTitle" 
                                    class="fw-normal align-self-center align-middle"
                                    data-i18n="[title]dt_pages_col_title_title"
                                    title="Click here for more info about document {{ page.title }}"
                                    colFunction="pageTitle"
                                    data-raw="{{ page.title }}"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    <span class="pr-4 d-flex justify-content-between align-items-center">
                                        <span
                                            siteFunction="sitePagesPageLinkToOffCanvas"
                                            pageTitleReference="{{ page.title }}"
                                            pagePermalinkReference="{{ page.permalink }}"
                                            class="alwaysCursorPointer">
                                            {{ page.title }}
                                        </span>
                                        <span 
                                            siteFunction="sitePagesPagesTableTitleColButtons"
                                            class="d-flex align-items-center">
                                            <a 
                                                href="{{ page.permalink }}" 
                                                target=_blank
                                                class="mx-2 mx-md-2"
                                                title="Read document {{ page.title }}"
                                                data-i18n="[title]dt_pages_col_actions_read_doc_btn_title">
                                                <i class="bi bi-book" style="font-size:1.4rem"></i>
                                            </a>
                                        </span>
                                    </span>
                                </td>
    
                                <!-- page last update -->
                                {% assign original_date = page.lastUpdate %}
                                {% assign formatted_date = original_date | date: "%d-%b-%Y" %}                              
                                <td 
                                    siteFunction="tableDateField" 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageLastUpdate"
                                    data-raw="{{ formatted_date }}">
                                    <span 
                                        class="{{ site.data.siteConfig.multilang.dateFieldClass }}"
                                        data-i18n="[text]formatted_date"
                                        data-original-date="{{ formatted_date }}"
                                        data-month-name="short">
                                        {{ formatted_date }}
                                    </span>
                                </td>
    
                                <!-- page badges -->
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoBadges"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    <span>
                                        place for page info badges
                                    </span>
                                </td>
                                
                                <!-- page related -->
                                {% capture permalink_param %}
                                    {
                                        "permalink": "{{page.permalink | escape}}",
                                        "except": [""]
                                    }
                                {% endcapture %}
                                {% capture pageRelated %}
                                    {% PageRelated {{ permalink_param | json_string_to_object }} %}
                                {% endcapture %}
                                {% assign pageRelatedArray = pageRelated | json_string_to_object  %}
                                {% assign pageRelatedTitleArray = pageRelatedArray | map: 'title' %}
                                {% assign pageRelatedTitleString = pageRelatedTitleArray | jsonify %}
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoRelatedPages"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    {% for pageR in pageRelatedArray %}
                                        <span 
                                            siteFunction="pageRelatedPageInfo"
                                            pageTitleReference="{{ page.title }}"
                                            pagePermalinkReference="{{ page.permalink }}"
                                            pageRelatedTitleReference="{{ pageR.title }}"
                                            pageRelatedPermalinkReference="{{ pageR.permalink }}"
                                            class="m-2 px-2 bg-light-subtle rounded-pill text-nowrap d-inline-block"
                                            >
                                            <span
                                                siteFunction="pageRelatedPageLinkToOffCanvas"
                                                pageTitleReference="{{ page.title }}"
                                                pagePermalinkReference="{{ page.permalink }}"
                                                pageRelatedTitleReference="{{ pageR.title }}"
                                                pageRelatedPermalinkReference="{{ pageR.permalink }}"
                                                title="Details for page {{ pageR.title }}"
                                                data-i18n="[title]dt_pages_col_related_title"
                                                class="alwaysCursorPointer text-primary"
                                                data-raw="{{pageRelatedTitleString | escape }}">
                                                {{ pageR.title}}
                                            </span>
                                            <a 
                                                href="{{ pageR.permalink }}" 
                                                target=_blank
                                                class="mx-1">
                                                <i class="bi bi-box-arrow-up-right" style="font-size:1.1rem"></i>
                                            </a>
                                        </span>
                                    {% endfor %}
    
                                </td>
                                
                                <!-- page similar -->
                                {% capture permalink_param %}
                                    {
                                        "permalink": "{{page.permalink | escape}}",
                                        "except": [""]
                                    }
                                {% endcapture %}           
                                {% capture pageSimilar %}
                                    {% PageSimilarByContent {{ permalink_param | json_string_to_object }} %}
                                {% endcapture %}
                                {% assign pageSimilarArray = pageSimilar | json_string_to_object  %}
                                {% assign pageSimilarTitleArray = pageSimilarArray | map: 'title' %}
                                {% assign pageSimilarTitleString = pageSimilarTitleArray | jsonify %}
                                <td
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoSimilarPages"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    {% for pageS in pageSimilarArray %}
                                        <span 
                                            siteFunction="pageSimilarPageInfo"
                                            pageTitleReference="{{ page.title }}"
                                            pagePermalinkReference="{{ page.permalink }}"
                                            pageSimilarTitleReference="{{ pageS.title }}"
                                            pageSimilarPermalinkReference="{{ pageS.permalink }}"
                                            class="m-2 px-2 bg-body-secondary rounded-pill text-nowrap d-inline-block"
                                            >
                                            <span
                                                siteFunction="pageSimilarPageLinkToOffCanvas"
                                                pageTitleReference="{{ page.title }}"
                                                pagePermalinkReference="{{ page.permalink }}"
                                                pageSimilarTitleReference="{{ pageS.title }}"
                                                pageSimilarPermalinkReference="{{ pageS.permalink }}"
                                                title = "Details for page {{ pageS.title }}"
                                                data-i18n="[title]dt_pages_col_similar_title"
                                                class="alwaysCursorPointer text-primary text-nowrap"
                                                data-raw="{{pageSimilarTitleString | escape }}">
                                                {{ pageS.title}}
                                            </span>
                                            <a 
                                                href="{{ pageS.permalink }}" 
                                                target=_blank
                                                class="mx-1">
                                                <i class="bi bi-box-arrow-up-right" style="font-size:1.1rem"></i>
                                            </a>
                                        </span>
                                    {% endfor %}
                                </td>
                                
                                <!-- page excerpt -->
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoExcerpt">
                                    <span>
                                        {% capture permalink_param %}
                                            {
                                                "permalink": "{{page.permalink | escape}}"
                                            }
                                        {% endcapture %}
                                        {% PageExcerpt {{ permalink_param | json_string_to_object }} %}
                                    </span>
                                </td>
    
                                <!-- page summary -->
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoAutoSummary">
                                    <span>
                                        {% capture permalink_param %}
                                            {
                                                "permalink": "{{page.permalink | escape}}"
                                            }
                                        {% endcapture %}
                                        {% PageAutoSummary {{ permalink_param | json_string_to_object }} %}
                                    </span>
                                </td>
    
                                <!-- page tags-->
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoTags"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    <span
                                        siteFunction="pageInfoTagsContainer"
                                        pageTitleReference="{{ page.title }}"
                                        pagePermalinkReference="{{ page.permalink }}">
                                        place for page tags
                                    </span>
                                </td>
    
                                <!-- page cats-->
                                <td 
                                    class="fw-normal align-self-center align-middle"
                                    colFunction="pageInfoCats"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    <span>
                                        place for page cats
                                    </span>
                                </td>
    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- last/active table filter -->
                {% include siteIncludes/partials/site-pages/last-filter.html %}
                   
            </div>
    
        </div>
    </div>
    
    <script>sitePages__pages();</script>
    