{% assign pageArray= site.data.page_list  | json_string_to_object %}

<div id="site_pages_details" class="my-5 d-none">
    <div siteFunction="sitePagesDetails" class="border border-secondary border-opacity-25 card shadow bg-transparent">
        
        <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
            <span class="fs-6 fw-medium">Pages</span>
            <button 
                siteFunction="btnClose" 
                whatToClose='div[siteFunction="sitePagesDetails"]' 
                type="button" 
                class="btn-close" 
                aria-label="Close">
            </button>
        </div>

        <div class="card-body">

            <!-- site pages details table -->
            <table siteFunction="sitePagesDetailsPageTable" class="w-100 table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-start" siteFunction="tableDateField">Last Update</th>
                        <th>Details</th>
                        <th>Related</th>
                        <th>Similar</th>
                        <th>Excerpt</th>
                        <th>Summary</th>
                        <th>Tags</th>
                        <th>Categories</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pageArray %}
                        <!-- page row in pages table -->
                        <tr
                            siteFunction="sitePagesDetailsTablePageRow"
                            pageTitleReference="{{ page.title }}"
                            pagePermalinkReference="{{ page.permalink }}">

                            <!-- page title -->
                            <td 
                                siteFunction="sitePagesTablePageTitle" 
                                class="fw-normal align-self-center align-middle"
                                title="Click here for more info about page {{ page.title }}"
                                colFunction="pageTitle"
                                data-raw="{{ page.title }}">
                                <span>
                                    <span
                                        siteFunction="sitePagesPageLinkToOffCanvas"
                                        pageTitleReference="{{ page.title }}"
                                        pagePermalinkReference="{{ page.permalink }}"
                                        class="alwaysCursorPointer text-nowrap">
                                        {{ page.title }}
                                    </span>
                                    <a 
                                        href="{{ page.permalink }}" 
                                        target=_blank
                                        class="mx-1">
                                        <i class="bi bi-box-arrow-up-right" style="font-size:1.1rem"></i>
                                    </a>
                                </span>
                            </td>

                            <!-- page last update -->
                            {% assign original_date = page.lastUpdate %}
                            {% assign formatted_date = original_date | date: "%d-%b-%Y" %}
                            <td 
                                siteFunction="tableDateField" 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageLastUpdate"
                                data-raw="{{ formatted_date }}">
                                <span>{{ formatted_date }}</span>
                            </td>

                            <!-- page badges -->
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoBadges"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}">
                                <span>
                                    place for page info badges
                                </span>
                            </td>
                            
                            <!-- page related -->
                            {% capture permalink_param %}
                                {
                                    "permalink": "{{page.permalink | escape}}",
                                    "except": [""]
                                }
                            {% endcapture %}
                            {% capture pageRelated %}
                                {% PageRelated {{ permalink_param | json_string_to_object }} %}
                            {% endcapture %}
                            {% assign pageRelatedArray = pageRelated | json_string_to_object  %}
                            {% assign pageRelatedTitleArray = pageRelatedArray | map: 'title' %}
                            {% assign pageRelatedTitleString = pageRelatedTitleArray | jsonify %}
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoRelatedPages"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}"
                                data-raw="{{pageRelatedTitleString | escape }}">
                                {% for pageR in pageRelatedArray %}
                                    <span 
                                        siteFunction="pageRelatedPageInfo"
                                        pageTitleReference="{{ page.title }}"
                                        pagePermalinkReference="{{ page.permalink }}"
                                        pageRelatedTitleReference="{{ pageR.title }}"
                                        pageRelatedPermalinkReference="{{ pageR.permalink }}"
                                        class="m-2 px-2 bg-light-subtle rounded-pill text-nowrap d-inline-block"
                                        data-raw="{{pageRelatedTitleString | escape }}">
                                        <span
                                            siteFunction="pageRelatedPageLinkToOffCanvas"
                                            pageTitleReference="{{ page.title }}"
                                            pagePermalinkReference="{{ page.permalink }}"
                                            pageRelatedTitleReference="{{ pageR.title }}"
                                            pageRelatedPermalinkReference="{{ pageR.permalink }}"
                                            title = "Details for page {{ pageR.title }}"
                                            class="alwaysCursorPointer text-primary"
                                            data-raw="{{pageRelatedTitleString | escape }}">
                                            {{ pageR.title}}
                                        </span>
                                        <a 
                                            href="{{ pageR.permalink }}" 
                                            target=_blank
                                            class="mx-1"
                                            data-raw="{{pageRelatedTitleString | escape }}">
                                            <i class="bi bi-box-arrow-up-right" style="font-size:1.1rem"></i>
                                        </a>
                                    </span>
                                {% endfor %}

                            </td>
                            
                            <!-- page similar -->
                            {% capture permalink_param %}
                                {
                                    "permalink": "{{page.permalink | escape}}",
                                    "except": [""]
                                }
                            {% endcapture %}           
                            {% capture pageSimilar %}
                                {% PageSimilarByContent {{ permalink_param | json_string_to_object }} %}
                            {% endcapture %}
                            {% assign pageSimilarArray = pageSimilar | json_string_to_object  %}
                            {% assign pageSimilarTitleArray = pageSimilarArray | map: 'title' %}
                            {% assign pageSimilarTitleString = pageSimilarTitleArray | jsonify %}
                            <td
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoSimilarPages"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}"
                                data-raw="{{pageSimilarTitleString | escape }}">
                                {% for pageS in pageSimilarArray %}
                                    <span 
                                        siteFunction="pageSimilarPageInfo"
                                        pageTitleReference="{{ page.title }}"
                                        pagePermalinkReference="{{ page.permalink }}"
                                        pageSimilarTitleReference="{{ pageS.title }}"
                                        pageSimilarPermalinkReference="{{ pageS.permalink }}"
                                        class="m-2 px-2 bg-body-secondary rounded-pill text-nowrap d-inline-block"
                                        data-raw="{{pageSimilarTitleString | escape }}">
                                        <span
                                            siteFunction="pageSimilarPageLinkToOffCanvas"
                                            pageTitleReference="{{ page.title }}"
                                            pagePermalinkReference="{{ page.permalink }}"
                                            pageSimilarTitleReference="{{ pageS.title }}"
                                            pageSimilarPermalinkReference="{{ pageS.permalink }}"
                                            title = "Details for page {{ pageS.title }}"
                                            class="alwaysCursorPointer text-primary text-nowrap"
                                            data-raw="{{pageSimilarTitleString | escape }}">
                                            {{ pageS.title}}
                                        </span>
                                        <a 
                                            href="{{ pageS.permalink }}" 
                                            target=_blank
                                            class="mx-1"
                                            data-raw="{{pageSimilarTitleString | escape }}">
                                            <i class="bi bi-box-arrow-up-right" style="font-size:1.1rem"></i>
                                        </a>
                                    </span>
                                {% endfor %}
                            </td>
                            
                            <!-- page excerpt -->
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoExcerpt">
                                <span>
                                    {% capture permalink_param %}
                                        {
                                            "permalink": "{{page.permalink | escape}}"
                                        }
                                    {% endcapture %}
                                    {% PageExcerpt {{ permalink_param | json_string_to_object }} %}
                                </span>
                            </td>

                            <!-- page summary -->
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoAutoSummary">
                                <span>
                                    {% capture permalink_param %}
                                        {
                                            "permalink": "{{page.permalink | escape}}"
                                        }
                                    {% endcapture %}
                                    {% PageAutoSummary {{ permalink_param | json_string_to_object }} %}
                                </span>
                            </td>

                            <!-- page tags-->
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoTags"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}">
                                <span
                                    siteFunction="pageInfoTagsContainer"
                                    pageTitleReference="{{ page.title }}"
                                    pagePermalinkReference="{{ page.permalink }}">
                                    place for page tags
                                </span>
                            </td>

                            <!-- page cats-->
                            <td 
                                class="fw-normal align-self-center align-middle"
                                colFunction="pageInfoCats"
                                pageTitleReference="{{ page.title }}"
                                pagePermalinkReference="{{ page.permalink }}">
                                <span>
                                    place for page cats
                                </span>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- last/active table filter -->
            <div sitefunction="sitePagesDetailsLastFilter" class="d-none alert alert-warning mt-2" role="alert">
                <div sitefunction="sitePagesDetailsLastFilterHeader" class="d-flex align-items-center">
                    <span class="spinner-grow spinner-grow-sm mr-2" aria-hidden="true"></span>
                    <span sitefunction="sitePagesDetailsLastFilterLabel" class="fs-6 fw-medium text-black">Last filter</span>
                </div>
                <hr sitefunction="sitePagesDetailsLastFilterSeparator">
                <div sitefunction="sitePagesDetailsLastFilterDetails">

                    <span class="d-block text-black">
                        <span class="fw-medium text-black">Details:</span>
                        <span class="text-primary" sitefunction="sitePagesDetailsLastFilterDetailsPageDetails"></span>
                    </span>

                    <span class="d-block text-black">
                        <span class="fw-medium text-black">Related pages:</span>
                        <span class="text-primary" sitefunction="sitePagesDetailsLastFilterDetailsPageRelatedPages"></span>
                    </span>

                    <span class="d-block text-black">
                    <span class="fw-medium text-black">Similar pages:</span>
                        <span class="text-primary" sitefunction="sitePagesDetailsLastFilterDetailsPageSimilarPages"></span>
                    </span>

                    <span class="d-block text-black">
                    <span class="fw-medium text-black">Tags:</span>
                        <span class="text-primary" sitefunction="sitePagesDetailsLastFilterDetailsPageTags"></span>
                    </span>

                    <span class="d-block text-black">
                    <span class="fw-medium text-black">Categories:</span>
                        <span class="text-primary" sitefunction="sitePagesDetailsLastFilterDetailsPageCats"></span>
                    </span>

                </div>
                <hr sitefunction="sitePagesDetailsLastFilterSeparator">
                <p class="text-dark align-items-center fw-medium" sitefunction="sitePagesDetailsLastFilterText">
                    Click on <span class="sitePagesDetailsLastFilterFakeBtn bg-danger text-light text-center mx-1 px-3 py-1 fw-medium">Filter</span> button under the pages table to reactivate or modify or clear the filter.
                </p>
            </div>
               
        </div>

    </div>
</div>

<script>sitePages__pages();</script>

