<!-- Site page search -->
{% assign pageArray= site.data.page_list  | json_string_to_object %}
    <div id="page_search_container" class="mt-4 mt-md-0 mb-5">
        <div class="border border-secondary border-opacity-25 card shadow bg-transparent">
            <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
                <span class="fs-6 fw-medium">Search document</span>
            </div>
            <div class="card-body d-md-flex justify-content-between">
                <input type="text" autocomplete="off" class="form-control" id="pageSearchInput" placeholder="type, select, hit enter ...">
                <ul siteFunction="searchPageList" id="pageSearchResults">
                    {% for pageItem in pageArray %}
                        <li siteFunction="searchPageListItem">{{pageItem["title"]}} ({{pageItem["permalink"]}})</li>
                    {% endfor %}
                </ul>
                <div class="d-flex d-md-block justify-content-between mt-md-0 mt-4">
                    <button 
                        siteFunction="openSitePagesDetails" 
                        id="openSitePagesDetails" 
                        type="button" 
                        class="btn w-auto btn-primary searchDocsSectionButton mr-2"
                        title= "Open documents list">
                        Documents
                    </button>
                    <button 
                        siteFunction="openSitePagesSavedItems" 
                        id="openSitePagesSavedItems" 
                        type="button" 
                        class="btn w-auto btn-success searchDocsSectionButton"
                        title= "Open Site Saved Items">
                        Saved Docs
                    </button>
                </div>
            </div>
        </div>
    </div>

<script>sitePages__pageSearch();</script>