<!-- Site page search -->
{% assign pageArray= site.data.page_list  | json_string_to_object %}
    <div id="page_search_container" class="mb-5">
        <div class="border border-secondary border-opacity-25 card shadow bg-transparent">
            <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
                <span class="fs-6 fw-medium">Search document</span>
            </div>
            <div class="card-body d-flex justify-content-between">
                <input type="text" autocomplete="off" class="form-control" id="pageSearchInput" placeholder="type, select, hit enter ...">
                <ul siteFunction="searchPageList" id="pageSearchResults">
                    {% for pageItem in pageArray %}
                        <li siteFunction="searchPageListItem">{{pageItem["title"]}} ({{pageItem["permalink"]}})</li>
                    {% endfor %}
                </ul>
                <div>
                    <button 
                        siteFunction="openSitePagesDetails" 
                        id="openSitePagesDetails" 
                        type="button" 
                        class="btn btn-sm btn-primary"
                        title= "Open documents list"
                        style="width:8rem; height:100%">
                        Documents
                    </button>
                    <button 
                        siteFunction="openSitePagesSavedItems" 
                        id="openSitePagesSavedItems" 
                        type="button" 
                        class="btn btn-sm btn-success"
                        title= "Open Site Saved Items"
                        style="width:8rem; height:100%">
                        Saved Items
                    </button>
                </div>
            </div>
        </div>
    </div>

<script>sitePages__pageSearch();</script>