
<div id="site_pages_saved_items" class="my-5 d-none">
    <div siteFunction="sitePagesSavedItems" class="border border-secondary border-opacity-25 card shadow bg-transparent">
        
        <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
            <span class="fs-6 fw-medium">Saved Items</span>
            <button 
                siteFunction="btnClose" 
                whatToClose='div[siteFunction="sitePagesSavedItems"]' 
                type="button" 
                class="btn-close" 
                aria-label="Close">
            </button>
        </div>

        <div class="card-body">

            <div siteFunction="saveStorageToFile" class="mb-2">
                <button 
                    siteFunction="saveStorageToFile" 
                    id="saveStorageToFile" 
                    type="button" 
                    class="btn btn-success"
                    title= "Save to file"
                    style="width:8rem; height:100%">
                    Save to file
                </button>
                <button 
                    siteFunction="showSavedItems" 
                    id="showSavedItems" 
                    type="button" 
                    class="btn btn-primary"
                    title= "Show saved items"
                    style="width:10rem; height:100%">
                    See saved items
                </button>
                <button 
                    siteFunction="showNotSavedItems" 
                    id="showNotSavedItems" 
                    type="button" 
                    class="btn btn-warning"
                    title= "Show not saved items"
                    style="width:12rem; height:100%">
                    See not saved items
                </button>
            </div>

            <div siteFunction="loadToStorageFromFile">
                <div class="input-group">
                    <input type="file" class="form-control" id="selectedLocalFile" aria-label="Select">
                </div>
            </div>
                            
        </div>

    </div>
</div>

<script>sitePages__savedItems();</script>
    
    