
<div id="site_pages_saved_items" class="my-5 d-none">
    <div siteFunction="sitePagesSavedItems" class="border border-secondary border-opacity-25 card shadow bg-transparent">
        
        <div class="card-header d-flex justify-content-between border-bottom border-secondary border-opacity-25">
            <span class="fs-6 fw-medium">Saved Documents</span>
            <button 
                siteFunction="btnClose" 
                whatToClose='div[siteFunction="sitePagesSavedItems"]' 
                type="button" 
                class="btn-close" 
                aria-label="Close">
            </button>
        </div>

        <div class="card-body d-md-flex">

            <div class="col-md-8 col-12">
            
                <div siteFunction="savedPagesButtonsContainer" class="my-4 d-md-flex">

                    <div class="col-md-4 col-12 p-2 d-md-flex flex-md-column justify-content-between">
                        <!-- save saved items as json in downloads -->
                        <button 
                            siteFunction="saveSavedItemsToFile" 
                            id="saveSavedItemsToFile" 
                            type="button" 
                            class="btn btn-success savedDocsSectionButton h-auto my-2 mr-2 my-md-1 mr-md-0 text-nowrap"
                            title= "Save to file">
                            Save to file
                        </button>

                        <!-- show saved docs in docs table -->
                        <button 
                            siteFunction="showSavedItems" 
                            id="showSavedItems" 
                            type="button" 
                            class="btn btn-primary savedDocsSectionButton h-auto my-2 mr-2 my-md-1 mr-md-0 text-nowrap"
                            title= "Show saved items">
                            Saved docs
                        </button>

                        <!-- show not saved docs in docs table -->
                        <button 
                            siteFunction="showNotSavedItems" 
                            id="showNotSavedItems" 
                            type="button" 
                            class="btn btn-warning savedDocsSectionButton h-auto my-2 mr-2 my-md-1 mr-md-0 text-nowrap"
                            title= "Show not saved items">
                            Not saved docs
                        </button>

                    </div>

                    <!-- loads saved items from json -->
                    <div 
                        siteFunction="loadSavedItemsFromFile"
                        class="col-md-8 col-12 p-2 d-flex flex-column justify-content-between">

                        <p class="text-primary savedDocsInfoText col-md-10 col-12">
                            Choose configuration file to load saved documents configuration. <span class="text-primary savedDocsInfoTextDesktopOnly">You can also drop a file in the drop zone.</span> 
                            {% if site.data.siteConfig.savedItems.autoSaveBeforeLoad %}
                                <span class="text-danger">Save before load is active</span> for this site. Your current saved documents configuration will be saved to a local file before loading the new one.
                            {% else %}
                                <span class="text-danger">Save before load is not active</span> for this site. We recommend to save the current saved documents configuration before loading the new one.
                            {% endif %} 
                        </p>
                        
                        <div class="d-md-flex">
                            <div class="col-md-10 cola-12">
                                <div class="input-group">
                                    <input 
                                        type="file" 
                                        class="form-control mb-4 mb-md-0" 
                                        id="selectedSavedItemsFile" 
                                        aria-label="Select"
                                        accept=".json">
                                </div>
                            </div>

                            <div class="col-md-2 col-12 text-center"> 
                                <div id="selectedSavedItemsFileLoading" class="ml-md-2 ml-0 d-none">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div
                siteFunction="savedItemsFileDropZone"
                class="col-4 d-flex d-none d-md-flex align-items-center justify-content-center savedItemsFileDropZone border-secondary border-opacity-25">
                <div class="text-center">
                    <i class="fs-1 bi bi-cloud-upload text-primary"></i>
                    <div class="fs-5 fw-medium text-secondary">Drop file here</div>
                    <p 
                        siteFunction="savedItemsFileDropZoneFileName"
                        class="d-none text-primary savedDocsInfoText">
                        fileName
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>sitePages__savedItems();</script>
    
    