
<div id="site_pages_saved_items" class="my-5 d-none">
    <div siteFunction="sitePagesSavedItems" class="card shadow bg-transparent">
        
        <div class="card-header d-flex justify-content-between">
            <span class="fs-6 fw-medium">Saved Items</span>
            <button 
                siteFunction="btnClose" 
                whatToClose='div[siteFunction="sitePagesSavedItems"]' 
                type="button" 
                class="btn-close" 
                aria-label="Close">
            </button>
        </div>

        <div class="card-body">

                            
        </div>

    </div>
</div>

<script>sitePages__savedItems();</script>
    
    