<div 
    class="card bg-transparent border border-secondary border-opacity-25 shadow-none" 
    id="offcanvasPageComments_info">
    <div 
        class="card-body" 
        id="offcanvasPageComments_info_body">
        <div class="mb-2">
            <span 
                id="offcanvasPageCommentsBody_pageTitle"
                data-i18n="page_content_custom_comment_anchor_offcanvas_doc_title_text"
                class="text-decoration-underline fw-medium">
                Title
            </span>
            <span class="fw-medium">: </span>
            <span>
                <a 
                    id="offcanvasPageCommentsBody_pageLink" 
                    href="pageLink">
                    pageTitle
                </a>
            </span>
        </div>

        <div>
            <span 
                id="offcanvasPageCommentsBody_anchorTitle"
                data-i18n="page_content_custom_comment_anchor_offcanvas_anchor_text"
                class="text-decoration-underline fw-medium">
                Anchor
            </span>
            <span class="fw-medium">: </span>
            <div>
                <span 
                    class="text-secondary" 
                    id="offcanvasPageCommentsBody_anchor">
                    anchor
                </span>
            </div>
        </div>

    </div>
</div>