<div 
    class="card sticky-top bg-dark border-0 border-secondary shadow-none mb-4" 
    id="offcanvasPageComments_info">
    <div 
        class="card-body" 
        id="offcanvasPageComments_info_body">
        <div class="mb-2">
            <span 
                id="offcanvasPageCommentsBody_pageTitle"
                data-i18n="page_content_custom_comment_anchor_offcanvas_doc_title_text"
                class="fw-medium text-light">
                Title
            </span>
            <span class="fw-medium">: </span>
            <span>
                <a 
                    id="offcanvasPageCommentsBody_pageLink" 
                    href="pageLink">
                    pageTitle
                </a>
            </span>
        </div>

        <div>
            <span 
                id="offcanvasPageCommentsBody_anchorTitle"
                data-i18n="page_content_custom_comment_anchor_offcanvas_anchor_text"
                class="fw-medium text-light">
                Reference
            </span>
            <span class="fw-medium">: </span>
            <span 
                class="text-secondary" 
                id="offcanvasPageCommentsBody_anchor">
                anchor
            </span>
        </div>

    </div>
</div>