<!-- page tags list shown under each page, called from footer_custom.html -->
<div id="pageTags" class="container px-5 my-4">
  
  {% capture permalink_param %}
    {
        "permalink": "{{page.permalink | escape}}",
        "except": []
    }
  {% endcapture %}

  {% capture pageTags %}
    {% PageTags {{ permalink_param | json_string_to_object }} %}
  {% endcapture %}

  {% assign pageTagsArray = pageTags | json_string_to_object  %}
  {% assign hasTags = pageTagsArray | size %}
  {% if hasTags > 0 %}
    <hr siteFunction="pageTagsSeparator">
    <span siteFunction="pageTagsContainer" class="mr-5 fs-6 fw-medium">Tags:</span>
    {% for pageTag in pageTagsArray %}
      <div sitefunction="pageSiteTagButton" class="d-inline-flex align-items-center">
        {% assign rawPageTagUrl = "/tag-info?tag=" | append: pageTag %}
        {% assign sanitizedPageTagUrl = rawPageTagUrl | sanitize_url %}
        <a 
          href="{{sanitizedPageTagUrl}}" 
          siteFunction="pageTagButton" 
          type="button" 
          class="focus-ring focus-ring-warning px-3 my-2 mr-5 btn btn-sm btn-primary position-relative">
          {{ pageTag }}
        </a>
        <span siteFunction="tagBadgeOnPage" class="position-relative translate-middle badge rounded-pill text-bg-warning">
          {% assign tagObj =  site.data["tags_details"][pageTag] %}
          {% assign numPages = tagObj.numPages %}  
          {{ numPages }}
          <span class="visually-hidden">number of pages</span>
        </span>
      </div>
    {% endfor %}
  {% endif %}
</div>

<!-- from site-page.js -->
<script>
  page__showPageCustomTags();
</script>