<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    <div 
        id="{{ site.data["siteConfig"]["themeSwitch"]["btnId"] }}" 
        title="Switch theme" 
        class="mr-2 d-flex justify-content-center align-items-center btn btn-sm btn-warning border border-0 border-secondary border-opacity-25 shadow-none text-dark">
        <i class="bi bi-mask" style="font-size: 20px"></i>
    </div>
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item align-items-center d-flex">
        <a 
            href="{{ link.last }}"
            class = "btn btn-primary m-2 text-light btn-sm"
            {% if site.aux_links_new_tab %}
                target="_blank" rel="noopener noreferrer"
            {% endif %}>
            {{ link.first }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>