{% assign algolia = site.data.algolia_integration  | json_string_to_object %}
  
<nav aria-label="Auxiliary" class="aux-nav w-100">
  <ul class="aux-nav-list d-flex justify-content-between pr-0 pr-md-0">
    {% if algolia.algoliaEnabled == 'true' %}
      <!-- set algolia docsearch container -->
      <div id="docsearch" class="mr-1 mr-md-2"></div>
    {% endif %}

    <!-- theme switcher -->
    <div 
        id="{{ site.data["siteConfig"]["themeSwitch"]["btnId"] }}" 
        title="Switch theme" 
        class="mr-1 mr-md-2 d-flex justify-content-center align-items-center btn btn-sm btn-warning border-0 shadow-none text-dark">
        <i class="bi bi-mask fs-5"></i>
    </div>

    <!-- aux buttons as in _config.yml -->
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item align-items-center d-flex">
        <a 
            href="{{ link.last }}"
            class = "btn btn-primary text-light btn-md-sm mr-1 mr-md-2"
            {% if site.aux_links_new_tab %}
                target="_blank" rel="noopener noreferrer"
            {% endif %}>
            {{ link.first }}
        </a>
      </li>
    {% endfor %}

  </ul>
</nav>