{% capture footer_custom %}
    {%- include footer_custom.html -%}
{% endcapture %}

{% if footer_custom != "" %}

    {% assign cleanPermalink = page.url | clean_permalink%}   
    {% assign match1 = pageList | where: "permalink", cleanPermalink %}  
    {% assign c2 = "/" | append: cleanPermalink %}
    {% assign match2 = pageList | where: "permalink",  c2 %}
    {% assign c3 = "/" | append: cleanPermalink | append: "/" %}
    {% assign match3 = pageList | where: "permalink", c3 %}
    {% assign c4 = cleanPermalink | append:"/" %}
    {% assign match4 = pageList | where: "permalink", c4 %}
    {% assign match = match1.size | plus: match2.size | plus: match3.size | plus: match4.size %}
      
    {% if match > 0 %}
        {% assign footerClass = "container-xl p-0" %}
    {% else %}
        {% assign footerClass = "" %}
    {% endif %}

    <footer class="{{footerClass}}">

        {% if algolia.algoliaEnabled %}
            {% assign permalink = page.permalink %}
            {% if permalink %}
                <page-general-data class="d-none">
                    <page-data-title>{{page.title}}</page-data-title>
                    <page-data-permalink>{{page.permalink}}</page-data-permalink>
                </page-general-data>
                {% assign pages = site.data.page_list | replace: "=>", ":"  | json_string_to_object %}
                {% assign pg = pages | where: "permalink", permalink %}
                {% assign pageObj = pg | replace: "=>", ":" | json_string_to_object %}
                {% if pageObj != empty %}
                    <page-data class="d-none">
                        <page-data-summary>{{pageObj[0].autoSummary}}</page-data-summary>
                        <page-data-excerpt>{{pageObj[0].excerpt}}</page-data-excerpt>
                        <page-data-cats>{{pageObj[0].categories | join: ", "}}</page-data-cats>
                        <page-data-tags>{{pageObj[0].tags | join: ", "}}</page-data-tags>
                    </page-data>
                {% endif %}
            {% endif %}
        {% endif %}



        {{ footer_custom }}
    </footer>

{% endif %}