<div id="main-header" class="main-header">
  {% if site.search_enabled != false %}
    {% include components/search_header.html %}
  {% else %}
    <div></div>
  {% endif %}
  {% include header_custom.html %}
  {% if site.aux_links %}
    <div 
      siteFunction="siteAuxControls"
      class="d-flex justify-content-between pb-4 pb-md-0">
      <!-- Algolia Search -->
      {% include siteIncludes/partials/algolia.html %} 
      {% include components/aux_nav.html %}
    </div>
  {% endif %}
</div>