{%- comment -%}
    Include as: {%- include components/sidebar.html -%}
    Depends on: page(?), site.
    Results in: HTML for the side bar.
    Includes:
      title.html, components/site_nav.html, nav_footer_custom.html
    Overwrites:
      nav_footer_custom.
    Should not be cached, because nav_footer_custom.html might depend on page.
  {%- endcomment -%}
  
  <div class="side-bar">
    <div class="site-header px-4 px-md-5" role="banner">
      <a href="/"><img class = "site_logo" width="25px" height="25px" src="/assets/img/logo.png" alt="{{site.title}} by PMC"/></a>
      <a href="{{ '/' | relative_url }}" class="site-title lh-tight fs-6 fw-medium">{% include title.html %}</a>
      <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
        <svg viewBox="0 0 24 24" class="icon site-button-icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
      </button>

    </div>
  
    <!-- include_cached may be used too -->
    {% include components/site_nav.html %}
  
    {% capture nav_footer_custom %}
      {%- include nav_footer_custom.html -%}
    {% endcapture %}
    {% if nav_footer_custom != "" %}
      {{ nav_footer_custom }}
    {% else %}
      <footer class="site-footer">
        {% for footerRow in site.data["buildConfig"]["siteFooter"]["rows"] %}
          {{footerRow["content"]}}
        {% endfor %}
      </footer>
    {% endif %}

  </div>