@import '../../../_sass/custom/custom-vars.scss';

// load the same font family as in the main document
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$hsFormFieldLabelFontSize: $fs-0-75;
$hsTextAreaFieldFontSize: $hsFormFieldLabelFontSize;
$hsInputFieldFontSize: $hsFormFieldLabelFontSize;
$hsfieldValidationErrorMessageFontSize: $fs-0-60;
$formRegularTextFontSize: $hsFormFieldLabelFontSize;


$hsFormsElements: (
    fieldLabel: '.hsFieldLabel',
    textAreaField: '.textAreaText',
    inputField: '.inputField',
    fieldValidationErrorMessage: '.fieldValidationErrorMessage',
    regularText: '.hsFormRegularText',
);

@import 'hs-meta.scss';
@include hsForms($hsFormsElements);