---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    <a class="skip-to-main" href="#main-content">Skip to main content</a>
    {% include icons/icons.html %}

    {% if page.nav_enabled == true %}
      {% include components/sidebar.html %}
    {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
      {% include components/sidebar.html %}
    {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
      {% include components/sidebar.html %}
    {% endif %}

    <div class="main" id="top">

      {% include components/header.html %}

      {% assign pageList = site.data['page_list'] | json_string_to_object %}      
      {% assign cleanPermalink = page.url | clean_permalink%}   
      {% assign match1 = pageList | where: "permalink", cleanPermalink %}  
      {% assign c2 = "/" | append: cleanPermalink %}
      {% assign match2 = pageList | where: "permalink",  c2 %}
      {% assign c3 = "/" | append: cleanPermalink | append: "/" %}
      {% assign match3 = pageList | where: "permalink", c3 %}
      {% assign c4 = cleanPermalink | append:"/" %}
      {% assign match4 = pageList | where: "permalink", c4 %}
      {% assign match = match1.size | plus: match2.size | plus: match3.size | plus: match4.size %}
      

      <div class="main-content-wrap">
        <div id="ihs_top_of_page"></div>
        {% include components/breadcrumbs.html %}
        
        <div id="main-content" class="main-content">
        
          {% if match > 0 %}
            
            <hr sitefunction="pageContentTopSeparator" class="my-4 container-xl px-2">
            <div class="d-flex col-12 container-xl p-0">
              <main class="col-7">
                {% if site.heading_anchors != false %}
                  {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
                {% else %}
                  {{ content }}
                {% endif %}
              </main>

              <div class="col-1" siteFunction="contentAreaConten2TocSeparator"></div>
              <div class="col-4">
                <!-- Page Toc -->
                {% include siteIncludes/partials/page-common/page-toc.html %}
              </div>

            </div>
            
            <hr sitefunction="pageContentBottomSeparator" class="my-4 container-xl px-2">         
          {% else %}
            <main class="px-5">
              {% if site.heading_anchors != false %}
                {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
              {% else %}
                {{ content }}
              {% endif %}
            </main>
          {% endif %}

        </div>
      
        {% include components/footer.html %}
      </div>

      <div id="ihs_go_to_top_btn" class="btn btn-sm btn-primary rounded-circle"><i class="bi bi-arrow-up"></i></div>
    </div>
    
    <div>
      {% if site.search_enabled != false %}
        {% include components/search_footer.html %}
      {% endif %}
    </div>

    {% if site.mermaid %}
      {% include components/mermaid.html %}
    {% endif %}
    
  </body>

  <!-- Toast is here -->
  {% include siteIncludes/partials/page-common/toast.html %}

  <!-- selected text context menu -->
  {% include siteIncludes/partials/page-common/selected-text-context-menu.html %}


</html>