---
layout: page
---

{% comment %}
this is how to handle some arrays which are not recognised by liquid as arrays but as strings
objects are fine, but simple arrays may be seen as strings
{% assign tagsArray = site.data.tag_list  | remove: '["' | remove: '"]' | split: '","' %}
{% endcomment %}

<div id="cloud_tag_container">
    {% for tagItem in site.data.tags_details %}
        <button siteFunction="tagButton" id="{{ tagItem[0] }}" type="button" class="focus-ring focus-ring-secondary px-3 mr-5 btn btn-sm btn-primary position-relative">
            {{ tagItem[0] }}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
                {{ tagItem[1]["numPages"] }}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
    {% endfor %}
</div>


<div id="tag_details">
    {% for tagItem in site.data.tags_details %}
        <div tagReference="{{ tagItem[0] }}" siteFunction="tagDetails" class="d-none">
            {% for page in tagItem[1]["pages"] %}
                <li><a href="{{ page.permalink }}">Title = {{ page.title }}</a></li>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    setTagsSupport();
</script>